# Nigerian Cars Dataset Analysis Case Study Project.

Here, the goal of the project would be **to uncover insights into the car market in Nigeria, such as the most popular car brands, the average price of cars, the fuel efficiency of cars, and the factors that influence car sales in Nigeria.**

In [1]:
# Import pandas
import pandas as pd

In [2]:
# Upload the car dataset
naija_cars = pd.read_csv(r"C:\Users\USER\Videos\Data Analytics\Case Studies\Nigeria Cars Dataset Case Study with Python\car_prices.csv")

In [3]:
# View table 
naija_cars

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717,C4Ly76wwazrtbYRAWkTnv2Q5,1924000,Petrol,Automatic,Toyota,RAV4,2003,Red,Nigerian Used,282769.0,2000.0,Registered,Imported,SUV,Automatic,All Wheel,5.0,4.0,NaN,Plateau
3718,jPA7XlJJxdwpZStlurumw59q,1890000,Petrol,Automatic,Mercedes-Benz,M Class,2002,Silver,Nigerian Used,182544.0,3200.0,Registered,Registered,SUV,ML 320,All Wheel,5.0,6.0,215.0,NaN
3719,g5szhuHeXu2djH1Z2be22G7E,1155000,Petrol,Automatic,Toyota,Camry,2000,Black,Nigerian Used,234354.0,2200.0,Registered,Registered,Sedan,LE 4dr Sedan (2.2L 4cyl 4A),Front,5.0,4.0,136.0,RIVERS
3720,mdZMNQK7Zez0cSS67Q9Quhzr,1260000,Petrol,Automatic,Toyota,RAV4,2001,Black,Nigerian Used,345926.0,2000.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,NaN
3721,fSUvulLwnXYlc1muFsrjrsAR,1872000,Petrol,Automatic,Honda,Civic,2007,Black,Nigerian Used,90330.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
naija_cars.head(10)

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos
5,cXCDdlfYhkTgnpxVlSqsiBWz,5250000,Petrol,Automatic,Acura,ZDX,2010,White,Nigerian Used,93991.0,3700.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,LAGOS
6,3Lh1di00mSJudNaHWxOrn1L2,16640000,Petrol,Automatic,Lexus,GX,2011,Red,Nigerian Used,122987.0,4800.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Abuja
7,7ytxLUCMQ5bWIly5x5EOrMdG,7980000,Petrol,Automatic,Lexus,GS,2013,Gray,Nigerian Used,94469.0,3500.0,Registered,Registered,Sedan,350,Rear Wheel,5.0,6.0,318.0,NaN
8,fYxBktHsYw4js3ZgJnHwl2zU,3885000,Petrol,Automatic,Toyota,Camry,2007,Gold,Foreign Used,159726.0,3000.0,Imported,Imported,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,oGK8lzkToaZZz9BklAkx1ull,13000000,Petrol,Automatic,Mercedes-Benz,GLK-Class,2015,White,Foreign Used,138202.0,3500.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
naija_cars.shape

(3722, 20)

### Clean The Dataset

Find all the Null Values in the dataset. If there is any null value in any column, **then fill it with the mean of the column.**

In [6]:
naija_cars.isnull().sum()

car_id                    0
price                     0
fuel type                 1
gear type                 2
Make                      0
Model                     0
Year of manufacture       0
Colour                    5
Condition                 0
Mileage                  59
Engine Size              61
Selling Condition         0
Bought Condition          0
car                    1955
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64

#### For Fuel Type

In [7]:
# Fill the empty column with 'Not Provided' of the column

naija_cars['fuel type'].fillna("Not Provided", inplace = True)

In [8]:
# Verify that it has been cleaned
# It has been cleaned

print(fuel_type_null_rows)

NameError: name 'fuel_type_null_rows' is not defined

#### For Gear Type

In [9]:
naija_cars.head(4)

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Check for the null values

gear_type_null_rows = naija_cars[naija_cars['gear type'].isna()]

print(gear_type_null_rows)

                        car_id    price     fuel type gear type     Make  \
1863  CroMaP5NDYMGVBrLvPXdOXHu  3360000  Not Provided       NaN    Lexus
3276  mQjZDvuV44QoTh8CHEMdZchc  1732500        Petrol       NaN  Peugeot

     Model  Year of manufacture  Colour      Condition  Mileage  Engine Size  \
1863    ES                 2007     NaN  Nigerian Used      NaN          NaN
3276   407                 2006  Silver  Nigerian Used  76500.0       2000.0

     Selling Condition Bought Condition  car            Trim   Drivetrain  \
1863        Registered       Registered  NaN             NaN          NaN
3276        Registered         Imported  NaN  2.0 ST Comfort  Front Wheel

      Seats  Number of Cylinders  Horse Power Registered city
1863    NaN                  NaN          NaN           LAGOS
3276    5.0                  NaN        136.0          KADUNA

In [11]:
# Fill the empty column with 'Not Provided' of the column

naija_cars['gear type'].fillna("Not Provided", inplace= True)

In [12]:
# Verify that it has been cleaned
# It has been cleaned.

naija_cars['gear type'].isna().sum()

0

#### For Colour

In [13]:
# Check for the null values

naija_cars['Colour'].isna().sum()

5

In [14]:
# Fill the empty column with 'Not Provided' of the column
naija_cars['Colour'].fillna("Not Provided", inplace= True)

In [15]:
# Verify that it has been cleaned
# It has been cleaned.

naija_cars['Colour'].isna().sum()

0

#### For Mileage

In [16]:
# Check for the null values

naija_cars.head(3)

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN

In [17]:
# Check for the null values

naija_cars['Mileage'].isna().sum()

59

In [18]:
# Fill the empty column with the mean of the column

In [19]:
naija_cars['Mileage'].fillna(naija_cars['Mileage'].mean(), inplace= True)

In [20]:
# Verify that it has been cleaned
# It has been cleaned.

naija_cars['Mileage'].isna().sum()

0

#### For Engine Size

In [21]:
# Check if the colum is a numerical column or character column
# It has numerical values

naija_cars.head(5)

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos

In [22]:
# Verify the null values in the Engine Size column

naija_cars['Engine Size'].isna().sum()

61

In [23]:
# Replace the null values with interpolation method

naija_cars['Engine Size'].interpolate(method='linear', inplace= True)

# Verify that it has been cleaned
# It has been cleaned.
print(naija_cars.isna().sum())
print(naija_cars['Engine Size'].isna().sum())

car_id                    0
price                     0
fuel type                 0
gear type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
car                    1955
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64
0

#### For Car Type

In [24]:
naija_cars['car'].shape

# Verify if the number of null values is morethan the rows with values
# It is more.
3722 - 1955

1767

In [25]:
# Values of all the unique characters in the column
print(unique_car_types)

NameError: name 'unique_car_types' is not defined

In [26]:
# Use the replace value method to clean this column

naija_cars['car'].fillna("Not Provided", inplace= True)

# Verify if the column has been cleaned
# Yes, it has been cleaned
print(naija_cars.isna().sum())
print(naija_cars['car'].isna().sum())

car_id                    0
price                     0
fuel type                 0
gear type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
car                       0
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64
0

In [27]:
naija_cars

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,Not Provided,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717,C4Ly76wwazrtbYRAWkTnv2Q5,1924000,Petrol,Automatic,Toyota,RAV4,2003,Red,Nigerian Used,282769.0,2000.0,Registered,Imported,SUV,Automatic,All Wheel,5.0,4.0,NaN,Plateau
3718,jPA7XlJJxdwpZStlurumw59q,1890000,Petrol,Automatic,Mercedes-Benz,M Class,2002,Silver,Nigerian Used,182544.0,3200.0,Registered,Registered,SUV,ML 320,All Wheel,5.0,6.0,215.0,NaN
3719,g5szhuHeXu2djH1Z2be22G7E,1155000,Petrol,Automatic,Toyota,Camry,2000,Black,Nigerian Used,234354.0,2200.0,Registered,Registered,Sedan,LE 4dr Sedan (2.2L 4cyl 4A),Front,5.0,4.0,136.0,RIVERS
3720,mdZMNQK7Zez0cSS67Q9Quhzr,1260000,Petrol,Automatic,Toyota,RAV4,2001,Black,Nigerian Used,345926.0,2000.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,NaN
3721,fSUvulLwnXYlc1muFsrjrsAR,1872000,Petrol,Automatic,Honda,Civic,2007,Black,Nigerian Used,90330.0,1800.0,Registered,Registered,Not Provided,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_id               3722 non-null   object
 1   price                3722 non-null   int64
 2   fuel type            3722 non-null   object
 3   gear type            3722 non-null   object
 4   Make                 3722 non-null   object
 5   Model                3722 non-null   object
 6   Year of manufacture  3722 non-null   int64
 7   Colour               3722 non-null   object
 8   Condition            3722 non-null   object
 9   Mileage              3722 non-null   float64
 10  Engine Size          3722 non-null   float64
 11  Selling Condition    3722 non-null   object
 12  Bought Condition     3722 non-null   object
 13  car                  3722 non-null   object
 14  Trim                 879 non-null    object
 15  Drivetrain           838 non-null    object
 16  Seats                788 non-null    float64
 17  Number of Cylinders  826 non-null    float64
 18  Horse Power          755 non-null    float64
 19  Registered city      1901 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 581.7+ KB

In [30]:
naija_cars.isna().sum()

car_id                    0
price                     0
fuel type                 0
gear type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
car                       0
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64

In [34]:
naija_cars.columns

Index(['car_id', 'price', 'fuel type', 'gear type', 'Make', 'Model',
       'Year of manufacture', 'Colour', 'Condition', 'Mileage', 'Engine Size',
       'Selling Condition', 'Bought Condition', 'car', 'Trim', 'Drivetrain',
       'Seats', 'Number of Cylinders', 'Horse Power', 'Registered city'],
      dtype='object')

In [38]:
#Drop the following columns due to inssuficient values that can affect the analysis

naija_cars.drop(
    columns=[
        'Trim',
        'Drivetrain',
        'Seats',
        'Number of Cylinders',
        'Horse Power'
    ], axis= 1, inplace=True
)

In [39]:
naija_cars.isna().sum()

car_id                    0
price                     0
fuel type                 0
gear type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
car                       0
Registered city        1821
dtype: int64

In [40]:
naija_cars['Registered city']

0           NaN
1           NaN
2           NaN
3           NaN
4         Lagos
         ...
3717    Plateau
3718        NaN
3719     RIVERS
3720        NaN
3721        NaN
Name: Registered city, Length: 3722, dtype: object

In [45]:
unique_registered_city.shape

(72,)

In [46]:
#Import Counter from Collection

from collections import Counter

In [47]:
Counter(naija_cars['Registered city'])

Counter({nan: 1821,
         'Lagos': 399,
         'LAGOS': 804,
         'Abuja': 143,
         'FCT': 10,
         'ABUJA': 185,
         'RIVERS': 39,
         'EDO': 5,
         'NASARAWA': 8,
         'Lagos State': 16,
         'Plateau': 6,
         'ASABA': 4,
         'NASSARAWA': 4,
         'Osun': 1,
         'ANAMBRA': 11,
         'BENIN': 21,
         'FKJ-880HM': 1,
         'AKWA IBOM': 17,
         'Rivers': 25,
         'KADUNA': 15,
         'lagos': 28,
         'IMO': 21,
         'RIVERS STATE': 9,
         'OYO': 10,
         'KWARA': 5,
         'Delta': 3,
         'Ondo': 11,
         'DELTA': 6,
         'Kaduna': 9,
         'BAYELSA': 4,
         'yobe': 2,
         'ONDO': 2,
         'BENUE STATE': 2,
         'Nasarawa': 1,
         'BENUE': 2,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 2,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 5,
         'PLATEAU': 4,
         'OSUN': 6,
         'OGUN': 6,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 2,
         'ENUGU': 5,
         'Rivers state': 1,
         'NIGER': 2,
         'KANO': 3,
         'Oyo': 1,
         'BORNO': 1,
         'LAGOS STATE': 6,
         'Kano State': 2,
         'OSUN STATE': 1,
         'SEME': 2,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         '0': 2,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 2,
         'Lagso': 1,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [48]:
Counter(unique_registered_city)

Counter({nan: 1,
         'Lagos': 1,
         'LAGOS': 1,
         'Abuja': 1,
         'FCT': 1,
         'ABUJA': 1,
         'RIVERS': 1,
         'EDO': 1,
         'NASARAWA': 1,
         'Lagos State': 1,
         'Plateau': 1,
         'ASABA': 1,
         'NASSARAWA': 1,
         'Osun': 1,
         'ANAMBRA': 1,
         'BENIN': 1,
         'FKJ-880HM': 1,
         'AKWA IBOM': 1,
         'Rivers': 1,
         'KADUNA': 1,
         'lagos': 1,
         'IMO': 1,
         'RIVERS STATE': 1,
         'OYO': 1,
         'KWARA': 1,
         'Delta': 1,
         'Ondo': 1,
         'DELTA': 1,
         'Kaduna': 1,
         'BAYELSA': 1,
         'yobe': 1,
         'ONDO': 1,
         'BENUE STATE': 1,
         'Nasarawa': 1,
         'BENUE': 1,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 1,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 1,
         'PLATEAU': 1,
         'OSUN': 1,
         'OGUN': 1,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 1,
         'ENUGU': 1,
         'Rivers state': 1,
         'NIGER': 1,
         'KANO': 1,
         'Oyo': 1,
         'BORNO': 1,
         'LAGOS STATE': 1,
         'Kano State': 1,
         'OSUN STATE': 1,
         'SEME': 1,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         '0': 1,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 1,
         'Lagso': 1,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [54]:
naija_cars['Registered city']

unique_set_registered_city = set(naija_cars['Registered city'])

print(unique_set_registered_city)

{nan, 'SEME', 'ZAMFARA', 'BENUE', 'RIVERS STATE', 'Ekiti', 'BENIN', 'LAGOS STATE', 'Cross River', 'CROSS RIVER', 'RIVER STATE', 'ENUGU', 'OSUN', 'Delta', 'OYO', 'Rivers', 'BORNO', 'Abuja', 'Rivers state', 'OSUN STATE', 'IMO', 'KADUNA', 'NASARAWA', 'Oyo', 'PLATEAU STATE', 'Osun', 'Ondo', 'DELTA', 'BAUCHI', 'ABIA', 'Sokoto', 'ASABA', 'Nasarawa', 'Benue', 'Plateau', 'KWARA', 'Lagos State', 'Delta state', 'AKURE', 'ABEOKUTA', 'FKJ-880HM', 'LAGOS', 'KANO', 'KOGI', 'ONDO', 'Lagos', 'BENUE STATE', 'Lagso', 'Ogun', 'NIGER', 'ADAMAWA', 'AKWA IBOM', 'EDO', 'ABUJA', 'Imo', 'OGUN', 'NASARRAWA', 'NASSARAWA', 'Kwara', 'Akwa-Ibom', 'RIVERS', 'PLATEAU', 'ANAMBRA', 'BAYELSA', 'yobe', '0', 'Kaduna', 'sokoto', 'Katsina', 'lagos', 'FCT', 'Kano State'}

In [106]:
#Get the unique values of the rgistered city

unique_registered_city = naija_cars['Registered city'].unique()

print(unique_registered_city)

['Not Provided' 'Lagos' 'LAGOS' 'ABUJA' 'FCT' 'RIVERS' 'EDO' 'NASARAWA'
 'Lagos State' 'Plateau' 'ASABA' 'NASSARAWA' 'Osun' 'ANAMBRA' 'BENIN'
 'FKJ-880HM' 'AKWA IBOM' 'Rivers' 'KADUNA' 'lagos' 'IMO' 'RIVERS STATE'
 'OYO' 'KWARA' 'Delta' 'Ondo' 'DELTA' 'Kaduna' 'BAYELSA' 'yobe' 'ONDO'
 'BENUE STATE' 'Nasarawa' 'BENUE' 'ABIA' 'CROSS RIVER' 'Kwara' 'sokoto'
 'Cross River' 'Ogun' 'PLATEAU' 'OSUN' 'OGUN' 'NASARRAWA' 'Sokoto'
 'Katsina' 'Imo' 'ENUGU' 'Rivers state' 'NIGER' 'KANO' 'Oyo' 'BORNO'
 'LAGOS STATE' 'Kano State' 'OSUN STATE' 'KOGI' 'ADAMAWA' 'Delta state'
 'Benue' 'Akwa-Ibom' 'Ekiti' 'ZAMFARA' 'AKURE' 'ABEOKUTA' 'Lagso'
 'PLATEAU STATE' 'BAUCHI' 'RIVER STATE']

In [102]:
Counter(naija_cars['Registered city'])

Counter({'Not Provided': 1821,
         'Lagos': 399,
         'LAGOS': 804,
         'Abuja': 143,
         'FCT': 10,
         'ABUJA': 185,
         'RIVERS': 39,
         'EDO': 5,
         'NASARAWA': 8,
         'Lagos State': 16,
         'Plateau': 6,
         'ASABA': 4,
         'NASSARAWA': 4,
         'Osun': 1,
         'ANAMBRA': 11,
         'BENIN': 21,
         'FKJ-880HM': 1,
         'AKWA IBOM': 17,
         'Rivers': 25,
         'KADUNA': 15,
         'lagos': 28,
         'IMO': 21,
         'RIVERS STATE': 9,
         'OYO': 10,
         'KWARA': 5,
         'Delta': 3,
         'Ondo': 11,
         'DELTA': 6,
         'Kaduna': 9,
         'BAYELSA': 4,
         'yobe': 2,
         'ONDO': 2,
         'BENUE STATE': 2,
         'Nasarawa': 1,
         'BENUE': 2,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 2,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 5,
         'PLATEAU': 4,
         'OSUN': 6,
         'OGUN': 6,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 2,
         'ENUGU': 5,
         'Rivers state': 1,
         'NIGER': 2,
         'KANO': 3,
         'Oyo': 1,
         'BORNO': 1,
         'LAGOS STATE': 6,
         'Kano State': 2,
         'OSUN STATE': 1,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 2,
         'Lagso': 1,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [91]:
## Drop values 0 and SEME in the Registered City column
naija_cars = naija_cars[naija_cars['Registered city'] != 'SEME']
naija_cars = naija_cars[naija_cars['Registered city'] != '0']

In [93]:
#Verify if SEME and 0 are present in the list
Counter(naija_cars['Registered city'])

Counter({'Not Provided': 1821,
         'Lagos': 399,
         'LAGOS': 804,
         'Abuja': 143,
         'FCT': 10,
         'ABUJA': 185,
         'RIVERS': 39,
         'EDO': 5,
         'NASARAWA': 8,
         'Lagos State': 16,
         'Plateau': 6,
         'ASABA': 4,
         'NASSARAWA': 4,
         'Osun': 1,
         'ANAMBRA': 11,
         'BENIN': 21,
         'FKJ-880HM': 1,
         'AKWA IBOM': 17,
         'Rivers': 25,
         'KADUNA': 15,
         'lagos': 28,
         'IMO': 21,
         'RIVERS STATE': 9,
         'OYO': 10,
         'KWARA': 5,
         'Delta': 3,
         'Ondo': 11,
         'DELTA': 6,
         'Kaduna': 9,
         'BAYELSA': 4,
         'yobe': 2,
         'ONDO': 2,
         'BENUE STATE': 2,
         'Nasarawa': 1,
         'BENUE': 2,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 2,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 5,
         'PLATEAU': 4,
         'OSUN': 6,
         'OGUN': 6,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 2,
         'ENUGU': 5,
         'Rivers state': 1,
         'NIGER': 2,
         'KANO': 3,
         'Oyo': 1,
         'BORNO': 1,
         'LAGOS STATE': 6,
         'Kano State': 2,
         'OSUN STATE': 1,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 2,
         'Lagso': 1,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [64]:
#Replace null values

naija_cars['Registered city'].isna().sum()

naija_cars.fillna({'Registered city' : 'Not Provided'}, inplace= True)

In [108]:
# Arrange values in ascending order

unique_registered_city.sort()

print(unique_registered_city)

['ABEOKUTA' 'ABIA' 'ABUJA' 'ADAMAWA' 'AKURE' 'AKWA IBOM' 'ANAMBRA' 'ASABA'
 'Akwa-Ibom' 'BAUCHI' 'BAYELSA' 'BENIN' 'BENUE' 'BENUE STATE' 'BORNO'
 'Benue' 'CROSS RIVER' 'Cross River' 'DELTA' 'Delta' 'Delta state' 'EDO'
 'ENUGU' 'Ekiti' 'FCT' 'FKJ-880HM' 'IMO' 'Imo' 'KADUNA' 'KANO' 'KOGI'
 'KWARA' 'Kaduna' 'Kano State' 'Katsina' 'Kwara' 'LAGOS' 'LAGOS STATE'
 'Lagos' 'Lagos State' 'Lagso' 'NASARAWA' 'NASARRAWA' 'NASSARAWA' 'NIGER'
 'Nasarawa' 'Not Provided' 'OGUN' 'ONDO' 'OSUN' 'OSUN STATE' 'OYO' 'Ogun'
 'Ondo' 'Osun' 'Oyo' 'PLATEAU' 'PLATEAU STATE' 'Plateau' 'RIVER STATE'
 'RIVERS' 'RIVERS STATE' 'Rivers' 'Rivers state' 'Sokoto' 'ZAMFARA'
 'lagos' 'sokoto' 'yobe']

In [116]:
#Replace the different city names with correct city names

#For States
naija_cars['Registered city'].replace(
    {
        'Abuja':'ABUJA',
        'FCT': 'ABUJA',
        'LAGOS STATE':'LAGOS',
        'Lagos State':'LAGOS',
        'Lagso':'LAGOS',
        'lagos':'LAGOS',
        'Lagos': 'LAGOS',
        'ABEOKUTA' : 'OGUN',
        'Ogun' : 'OGUN',
        


    },inplace= True
)

In [107]:

print(unique_registered_city)

['Not Provided' 'Lagos' 'LAGOS' 'ABUJA' 'FCT' 'RIVERS' 'EDO' 'NASARAWA'
 'Lagos State' 'Plateau' 'ASABA' 'NASSARAWA' 'Osun' 'ANAMBRA' 'BENIN'
 'FKJ-880HM' 'AKWA IBOM' 'Rivers' 'KADUNA' 'lagos' 'IMO' 'RIVERS STATE'
 'OYO' 'KWARA' 'Delta' 'Ondo' 'DELTA' 'Kaduna' 'BAYELSA' 'yobe' 'ONDO'
 'BENUE STATE' 'Nasarawa' 'BENUE' 'ABIA' 'CROSS RIVER' 'Kwara' 'sokoto'
 'Cross River' 'Ogun' 'PLATEAU' 'OSUN' 'OGUN' 'NASARRAWA' 'Sokoto'
 'Katsina' 'Imo' 'ENUGU' 'Rivers state' 'NIGER' 'KANO' 'Oyo' 'BORNO'
 'LAGOS STATE' 'Kano State' 'OSUN STATE' 'KOGI' 'ADAMAWA' 'Delta state'
 'Benue' 'Akwa-Ibom' 'Ekiti' 'ZAMFARA' 'AKURE' 'ABEOKUTA' 'Lagso'
 'PLATEAU STATE' 'BAUCHI' 'RIVER STATE']

In [117]:
Counter(naija_cars['Registered city'])

Counter({'Not Provided': 1821,
         'LAGOS': 1254,
         'ABUJA': 338,
         'RIVERS': 39,
         'EDO': 5,
         'NASARAWA': 8,
         'Plateau': 6,
         'ASABA': 4,
         'NASSARAWA': 4,
         'Osun': 1,
         'ANAMBRA': 11,
         'BENIN': 21,
         'FKJ-880HM': 1,
         'AKWA IBOM': 17,
         'Rivers': 25,
         'KADUNA': 15,
         'IMO': 21,
         'RIVERS STATE': 9,
         'OYO': 10,
         'KWARA': 5,
         'Delta': 3,
         'Ondo': 11,
         'DELTA': 6,
         'Kaduna': 9,
         'BAYELSA': 4,
         'yobe': 2,
         'ONDO': 2,
         'BENUE STATE': 2,
         'Nasarawa': 1,
         'BENUE': 2,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 2,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 5,
         'PLATEAU': 4,
         'OSUN': 6,
         'OGUN': 6,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 2,
         'ENUGU': 5,
         'Rivers state': 1,
         'NIGER': 2,
         'KANO': 3,
         'Oyo': 1,
         'BORNO': 1,
         'Kano State': 2,
         'OSUN STATE': 1,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 2,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [113]:
unique_registered_city.shape

(69,)

array(['Not Provided', 'LAGOS', 'ABUJA', 'RIVERS', 'EDO', 'NASARAWA',
       'Plateau', 'ASABA', 'NASSARAWA', 'Osun', 'ANAMBRA', 'BENIN',
       'FKJ-880HM', 'AKWA IBOM', 'Rivers', 'KADUNA', 'IMO',
       'RIVERS STATE', 'OYO', 'KWARA', 'Delta', 'Ondo', 'DELTA', 'Kaduna',
       'BAYELSA', 'yobe', 'ONDO', 'BENUE STATE', 'Nasarawa', 'BENUE',
       'ABIA', 'CROSS RIVER', 'Kwara', 'sokoto', 'Cross River', 'Ogun',
       'PLATEAU', 'OSUN', 'OGUN', 'NASARRAWA', 'Sokoto', 'Katsina', 'Imo',
       'ENUGU', 'Rivers state', 'NIGER', 'KANO', 'Oyo', 'BORNO',
       'Kano State', 'OSUN STATE', 'KOGI', 'ADAMAWA', 'Delta state',
       'Benue', 'Akwa-Ibom', 'Ekiti', 'ZAMFARA', 'AKURE', 'ABEOKUTA',
       'PLATEAU STATE', 'BAUCHI', 'RIVER STATE'], dtype=object)