# Nigerian Cars Dataset Analysis Case Study Project.

Here, the goal of the project would be **to uncover insights into the car market in Nigeria, such as the most popular car brands, the average price of cars, the fuel efficiency of cars, and the factors that influence car sales in Nigeria.**

## Introduction

In [145]:
import pandas as pd
import numpy as np
from collections import Counter

In [146]:
# Upload the car dataset
naija_cars = pd.read_csv(r"C:\Users\USER\Videos\Data Analytics\Case Studies\Nigeria Cars Dataset Case Study with Python\car_prices.csv")

In [147]:
# View table 
naija_cars

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717,C4Ly76wwazrtbYRAWkTnv2Q5,1924000,Petrol,Automatic,Toyota,RAV4,2003,Red,Nigerian Used,282769.0,2000.0,Registered,Imported,SUV,Automatic,All Wheel,5.0,4.0,NaN,Plateau
3718,jPA7XlJJxdwpZStlurumw59q,1890000,Petrol,Automatic,Mercedes-Benz,M Class,2002,Silver,Nigerian Used,182544.0,3200.0,Registered,Registered,SUV,ML 320,All Wheel,5.0,6.0,215.0,NaN
3719,g5szhuHeXu2djH1Z2be22G7E,1155000,Petrol,Automatic,Toyota,Camry,2000,Black,Nigerian Used,234354.0,2200.0,Registered,Registered,Sedan,LE 4dr Sedan (2.2L 4cyl 4A),Front,5.0,4.0,136.0,RIVERS
3720,mdZMNQK7Zez0cSS67Q9Quhzr,1260000,Petrol,Automatic,Toyota,RAV4,2001,Black,Nigerian Used,345926.0,2000.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,NaN
3721,fSUvulLwnXYlc1muFsrjrsAR,1872000,Petrol,Automatic,Honda,Civic,2007,Black,Nigerian Used,90330.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
naija_cars.head(10)

,car_id,price,fuel type,gear type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos
5,cXCDdlfYhkTgnpxVlSqsiBWz,5250000,Petrol,Automatic,Acura,ZDX,2010,White,Nigerian Used,93991.0,3700.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,LAGOS
6,3Lh1di00mSJudNaHWxOrn1L2,16640000,Petrol,Automatic,Lexus,GX,2011,Red,Nigerian Used,122987.0,4800.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Abuja
7,7ytxLUCMQ5bWIly5x5EOrMdG,7980000,Petrol,Automatic,Lexus,GS,2013,Gray,Nigerian Used,94469.0,3500.0,Registered,Registered,Sedan,350,Rear Wheel,5.0,6.0,318.0,NaN
8,fYxBktHsYw4js3ZgJnHwl2zU,3885000,Petrol,Automatic,Toyota,Camry,2007,Gold,Foreign Used,159726.0,3000.0,Imported,Imported,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,oGK8lzkToaZZz9BklAkx1ull,13000000,Petrol,Automatic,Mercedes-Benz,GLK-Class,2015,White,Foreign Used,138202.0,3500.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
naija_cars.shape

(3722, 20)

## Clean The Dataset

Find all the Null Values in the dataset. If there is any null value in any column, **then fill it with the mean of the column.**

#### Change Column Names

Here, I will write a code that will give the column names a generic naming structure.

##### First of all, get a list of all the columns.

In [150]:
naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_id               3722 non-null   object
 1   price                3722 non-null   int64
 2   fuel type            3721 non-null   object
 3   gear type            3720 non-null   object
 4   Make                 3722 non-null   object
 5   Model                3722 non-null   object
 6   Year of manufacture  3722 non-null   int64
 7   Colour               3717 non-null   object
 8   Condition            3722 non-null   object
 9   Mileage              3663 non-null   float64
 10  Engine Size          3661 non-null   float64
 11  Selling Condition    3722 non-null   object
 12  Bought Condition     3722 non-null   object
 13  car                  1767 non-null   object
 14  Trim                 879 non-null    object
 15  Drivetrain           838 non-null    object
 16  Seats                788 non-null    float64
 17  Number of Cylinders  826 non-null    float64
 18  Horse Power          755 non-null    float64
 19  Registered city      1901 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 581.7+ KB

##### Now to restructure

Create a temp table to test the code in order to avoid an error occurring

In [151]:
temp_naija_cars = naija_cars

temp_naija_cars = temp_naija_cars.rename(columns=
    {
        'car_id':'Car ID',
        'price':'Price',
        'fuel type':'Fuel Type',
        'gear type':'Gear Type',
        'car':'Car'
    }
)

temp_naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Car ID               3722 non-null   object
 1   Price                3722 non-null   int64
 2   Fuel Type            3721 non-null   object
 3   Gear Type            3720 non-null   object
 4   Make                 3722 non-null   object
 5   Model                3722 non-null   object
 6   Year of manufacture  3722 non-null   int64
 7   Colour               3717 non-null   object
 8   Condition            3722 non-null   object
 9   Mileage              3663 non-null   float64
 10  Engine Size          3661 non-null   float64
 11  Selling Condition    3722 non-null   object
 12  Bought Condition     3722 non-null   object
 13  Car                  1767 non-null   object
 14  Trim                 879 non-null    object
 15  Drivetrain           838 non-null    object
 16  Seats                788 non-null    float64
 17  Number of Cylinders  826 non-null    float64
 18  Horse Power          755 non-null    float64
 19  Registered city      1901 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 581.7+ KB

##### Now to use the actual table to effect this change

In [152]:
naija_cars = naija_cars.rename(columns=
    {
        'car_id':'Car ID',
        'price':'Price',
        'fuel type':'Fuel Type',
        'gear type':'Gear Type',
        'car':'Car'
    }
)

naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Car ID               3722 non-null   object
 1   Price                3722 non-null   int64
 2   Fuel Type            3721 non-null   object
 3   Gear Type            3720 non-null   object
 4   Make                 3722 non-null   object
 5   Model                3722 non-null   object
 6   Year of manufacture  3722 non-null   int64
 7   Colour               3717 non-null   object
 8   Condition            3722 non-null   object
 9   Mileage              3663 non-null   float64
 10  Engine Size          3661 non-null   float64
 11  Selling Condition    3722 non-null   object
 12  Bought Condition     3722 non-null   object
 13  Car                  1767 non-null   object
 14  Trim                 879 non-null    object
 15  Drivetrain           838 non-null    object
 16  Seats                788 non-null    float64
 17  Number of Cylinders  826 non-null    float64
 18  Horse Power          755 non-null    float64
 19  Registered city      1901 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 581.7+ KB

In [153]:
naija_cars.isnull().sum()

Car ID                    0
Price                     0
Fuel Type                 1
Gear Type                 2
Make                      0
Model                     0
Year of manufacture       0
Colour                    5
Condition                 0
Mileage                  59
Engine Size              61
Selling Condition         0
Bought Condition          0
Car                    1955
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64

#### For Fuel Type

In [154]:
# Fill the empty column with 'Not Provided' of the column

naija_cars['Fuel Type'].fillna("Not Provided", inplace = True)

In [155]:
# Verify values 
unique_fuel_type = naija_cars['Fuel Type'].unique()

print(unique_fuel_type)

['Petrol' 'Diesel' 'Hybrid' 'Electric' 'Not Provided']

#### For Gear Type

In [156]:
naija_cars.head(4)

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# Check for the null values

gear_type_null_rows = naija_cars[naija_cars['Gear Type'].isna()]

print(gear_type_null_rows)

                        Car ID    Price     Fuel Type Gear Type     Make  \
1863  CroMaP5NDYMGVBrLvPXdOXHu  3360000  Not Provided       NaN    Lexus
3276  mQjZDvuV44QoTh8CHEMdZchc  1732500        Petrol       NaN  Peugeot

     Model  Year of manufacture  Colour      Condition  Mileage  Engine Size  \
1863    ES                 2007     NaN  Nigerian Used      NaN          NaN
3276   407                 2006  Silver  Nigerian Used  76500.0       2000.0

     Selling Condition Bought Condition  Car            Trim   Drivetrain  \
1863        Registered       Registered  NaN             NaN          NaN
3276        Registered         Imported  NaN  2.0 ST Comfort  Front Wheel

      Seats  Number of Cylinders  Horse Power Registered city
1863    NaN                  NaN          NaN           LAGOS
3276    5.0                  NaN        136.0          KADUNA

In [158]:
# Fill the empty column with 'Not Provided' of the column

naija_cars['Gear Type'].fillna("Not Provided", inplace= True)

In [159]:
# Verify that it has been cleaned
# It has been cleaned.

naija_cars['Gear Type'].isna().sum()

0

In [160]:
# Verify if the the values in the column
unique_gear_type = naija_cars['Gear Type'].unique()

print(unique_gear_type)

['Automatic' 'Manual' 'CVT' 'Not Provided']

In [161]:
# Verify the number in value
Counter(naija_cars['Gear Type'])

Counter({'Automatic': 3486, 'Manual': 202, 'CVT': 32, 'Not Provided': 2})

#### For Colour

In [162]:
# Verify that the items in the column are appropraite for this column
# They are appropraite
unique_car_colour = naija_cars['Colour'].unique()

print(unique_car_colour)

['Silver' 'Green' 'White' 'Gray' 'Red' 'Gold' 'Black' 'Blue' 'Brown'
 'Beige' 'Burgandy' 'Purple' 'Pink' 'Off white' 'Teal' 'Ivory' 'Orange'
 nan 'Yellow']

In [163]:
# Check for the null values
naija_cars['Colour'].isna().sum()

5

In [164]:
# Fill the empty column with 'Not Provided' of the column
naija_cars['Colour'].fillna("Not Provided", inplace= True)

In [165]:
# Verify that it has been cleaned
# It has been cleaned.

naija_cars['Colour'].isna().sum()

0

In [166]:
unique_car_colour = naija_cars['Colour'].unique()

print(unique_car_colour)

['Silver' 'Green' 'White' 'Gray' 'Red' 'Gold' 'Black' 'Blue' 'Brown'
 'Beige' 'Burgandy' 'Purple' 'Pink' 'Off white' 'Teal' 'Ivory' 'Orange'
 'Not Provided' 'Yellow']

#### For Mileage

In [167]:
# Check for the null values

naija_cars.head(3)

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN

In [168]:
# Check for the null values

naija_cars['Mileage'].isna().sum()

59

In [169]:
# Fill the empty column with the mean of the column
naija_cars['Mileage'].fillna(naija_cars['Mileage'].mean(), inplace= True)

In [170]:
# Verify that it has been cleaned
# It has been cleaned.

naija_cars['Mileage'].isna().sum()

0

In [171]:
naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Car ID               3722 non-null   object
 1   Price                3722 non-null   int64
 2   Fuel Type            3722 non-null   object
 3   Gear Type            3722 non-null   object
 4   Make                 3722 non-null   object
 5   Model                3722 non-null   object
 6   Year of manufacture  3722 non-null   int64
 7   Colour               3722 non-null   object
 8   Condition            3722 non-null   object
 9   Mileage              3722 non-null   float64
 10  Engine Size          3661 non-null   float64
 11  Selling Condition    3722 non-null   object
 12  Bought Condition     3722 non-null   object
 13  Car                  1767 non-null   object
 14  Trim                 879 non-null    object
 15  Drivetrain           838 non-null    object
 16  Seats                788 non-null    float64
 17  Number of Cylinders  826 non-null    float64
 18  Horse Power          755 non-null    float64
 19  Registered city      1901 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 581.7+ KB

#### For Bought Condition

##### Verify the number of bought condition values in the column

In [172]:
unique_bought_condition = naija_cars['Bought Condition'].unique()

print(unique_bought_condition)

['Registered' 'Imported' 'Brand new']

#### For Selling Condition

##### Verify the number of selling condition values in the column

In [173]:
Counter(naija_cars['Selling Condition'])

Counter({'Registered': 2813, 'Imported': 907, 'Brand new': 2})

In [174]:
unique_selling_condition = naija_cars['Selling Condition'].unique()

print(unique_selling_condition)

['Registered' 'Imported' 'Brand new']

#### For Condition

##### Verify the number of condition values in the column

In [175]:
naija_cars.notnull().sum()

Car ID                 3722
Price                  3722
Fuel Type              3722
Gear Type              3722
Make                   3722
Model                  3722
Year of manufacture    3722
Colour                 3722
Condition              3722
Mileage                3722
Engine Size            3661
Selling Condition      3722
Bought Condition       3722
Car                    1767
Trim                    879
Drivetrain              838
Seats                   788
Number of Cylinders     826
Horse Power             755
Registered city        1901
dtype: int64

In [176]:
Counter(naija_cars['Condition'])

Counter({'Nigerian Used': 2813, 'Foreign Used': 907, 'Brand New': 2})

In [177]:
unique_car_condition = naija_cars['Condition'].unique()

print(unique_car_condition)

['Nigerian Used' 'Foreign Used' 'Brand New']

#### For Engine Size

In [178]:
unique_engine_size = naija_cars['Engine Size'].unique()

print(unique_engine_size)

[1.80e+03 3.70e+03 3.50e+03 4.00e+03 4.80e+03 3.00e+03 2.50e+03 4.20e+03
 2.80e+03 2.70e+03 3.30e+03 4.90e+03 4.70e+03 2.40e+03 4.60e+03 1.60e+03
 4.50e+03 2.00e+03 5.70e+03      nan 5.70e+04 3.60e+03 5.50e+03 5.40e+03
 4.00e+04 5.00e+03 5.80e+03 3.50e+05 3.40e+03 3.20e+03 3.80e+03 4.40e+03
 1.50e+03 2.30e+03 3.00e+05 5.60e+03 2.50e+04 1.40e+03 2.40e+05 1.80e+05
 1.30e+03 2.20e+03 2.00e+04 1.80e+04 3.00e+04 2.60e+03 1.20e+03 6.00e+03
 2.20e+05 2.40e+06 1.40e+04 3.00e+02 1.10e+03 1.60e+05 2.50e+05 1.00e+03
 1.70e+03 2.00e+02 3.50e+04 5.30e+03 3.50e+06 3.30e+04 6.30e+03 1.80e+02
 2.70e+05 3.30e+05 3.58e+03 1.80e+06 2.40e+04 2.70e+04]

In [179]:
# Check if the colum is a numerical column or character column
# It has numerical values

naija_cars.head(5)

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Trim,Drivetrain,Seats,Number of Cylinders,Horse Power,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,SH-AWD Automatic Tech Package,All Wheel,5.0,6.0,309.0,NaN
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,NaN,NaN,NaN,NaN,NaN,NaN
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,NaN,NaN,NaN,NaN,NaN,Lagos

In [180]:
# Verify the null values in the Engine Size column

naija_cars['Engine Size'].isna().sum()

61

In [181]:
# Replace the null values with interpolation method

naija_cars['Engine Size'].interpolate(method='linear', inplace= True)

# Verify that it has been cleaned
# It has been cleaned.
print(naija_cars.isna().sum())
print(naija_cars['Engine Size'].isna().sum())

Car ID                    0
Price                     0
Fuel Type                 0
Gear Type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
Car                    1955
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64
0

In [182]:
unique_engine_size = naija_cars['Engine Size'].unique()

print(unique_engine_size)

[1.80e+03 3.70e+03 3.50e+03 4.00e+03 4.80e+03 3.00e+03 2.50e+03 4.20e+03
 2.80e+03 2.70e+03 3.30e+03 4.90e+03 4.70e+03 2.40e+03 4.60e+03 1.60e+03
 4.50e+03 2.00e+03 5.70e+03 2.45e+03 5.70e+04 3.60e+03 5.50e+03 5.40e+03
 4.00e+04 5.00e+03 5.80e+03 3.50e+05 3.40e+03 3.20e+03 3.80e+03 3.65e+03
 2.65e+03 4.40e+03 1.50e+03 2.30e+03 3.00e+05 5.60e+03 2.50e+04 1.40e+03
 2.40e+05 1.80e+05 1.30e+03 2.20e+03 2.00e+04 1.80e+04 3.00e+04 2.10e+03
 3.15e+03 2.75e+03 2.60e+03 1.20e+03 6.00e+03 2.20e+05 2.40e+06 2.95e+03
 2.90e+03 1.40e+04 3.00e+02 1.10e+03 1.60e+05 2.50e+05 1.00e+03 1.70e+03
 2.35e+03 2.00e+02 1.90e+03 3.50e+04 1.87e+04 2.55e+03 3.90e+03 2.25e+03
 5.30e+03 3.50e+06 3.30e+04 6.30e+03 1.80e+02 2.70e+05 3.85e+03 3.25e+03
 4.45e+03 3.30e+05 3.58e+03 1.80e+06 2.40e+04 2.70e+04 3.75e+03]

In [183]:
Counter(naija_cars['Engine Size'])

Counter({1800.0: 520,
         3700.0: 50,
         3500.0: 856,
         4000.0: 69,
         4800.0: 8,
         3000.0: 264,
         2500.0: 290,
         4200.0: 4,
         2800.0: 9,
         2700.0: 73,
         3300.0: 140,
         4900.0: 6,
         4700.0: 61,
         2400.0: 536,
         4600.0: 18,
         1600.0: 92,
         4500.0: 9,
         2000.0: 252,
         5700.0: 10,
         2450.0: 6,
         57000.0: 1,
         3600.0: 17,
         5500.0: 11,
         5400.0: 4,
         40000.0: 4,
         5000.0: 13,
         5800.0: 1,
         350000.0: 15,
         3400.0: 16,
         3200.0: 27,
         3800.0: 18,
         3650.0: 2,
         2650.0: 4,
         4400.0: 10,
         1500.0: 21,
         2300.0: 39,
         300000.0: 3,
         5600.0: 16,
         25000.0: 2,
         1400.0: 40,
         240000.0: 12,
         180000.0: 16,
         1300.0: 10,
         2200.0: 30,
         20000.0: 2,
         18000.0: 8,
         30000.0: 7,
         2100.0: 7,
         3150.0: 1,
         2750.0: 3,
         2600.0: 9,
         1200.0: 2,
         6000.0: 6,
         220000.0: 3,
         2400000.0: 1,
         2950.0: 7,
         2900.0: 2,
         14000.0: 2,
         300.0: 1,
         1100.0: 3,
         160000.0: 6,
         250000.0: 3,
         1000.0: 2,
         1700.0: 5,
         2350.0: 1,
         200.0: 2,
         1900.0: 1,
         35000.0: 2,
         18700.0: 1,
         2550.0: 2,
         3900.0: 1,
         2250.0: 2,
         5300.0: 4,
         3500000.0: 2,
         33000.0: 2,
         6300.0: 1,
         180.0: 1,
         270000.0: 1,
         3850.0: 1,
         3250.0: 2,
         4450.0: 1,
         330000.0: 1,
         3580.0: 1,
         1800000.0: 3,
         24000.0: 2,
         27000.0: 2,
         3750.0: 1})

#### For Car Type

In [184]:
naija_cars['Car'].isna().sum()

1955

In [185]:
naija_cars['Car'].shape

# Verify if the number of null values is morethan the rows with values
# It is more.
3722 - 1955

1767

In [186]:
# Values of all the unique characters in the column
unique_car_types = naija_cars['Car'].unique()
print(unique_car_types)

[nan 'SUV' 'Sedan' 'Truck' 'Crossover' 'Van' 'Bus' 'Coupe' 'Hatchback'
 'Minivan' 'Pickup' 'Convertible' 'Station Wagon' 'Pick-up Double Cabin'
 'MUV' 'Saloon']

In [187]:
# Use the replace value method to clean this column

naija_cars['Car'].fillna("Not Provided", inplace= True)

# Verify if the column has been cleaned
# Yes, it has been cleaned
print(naija_cars.isna().sum())
print(naija_cars['Car'].isna().sum())

Car ID                    0
Price                     0
Fuel Type                 0
Gear Type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
Car                       0
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64
0

In [188]:
#Verify again if the null values have been removed
unique_car_types = naija_cars['Car'].unique()
print(unique_car_types)

['Not Provided' 'SUV' 'Sedan' 'Truck' 'Crossover' 'Van' 'Bus' 'Coupe'
 'Hatchback' 'Minivan' 'Pickup' 'Convertible' 'Station Wagon'
 'Pick-up Double Cabin' 'MUV' 'Saloon']

In [189]:
#Verify again if the null values have been removed
print(naija_cars['Car'].isna().sum())

0

##### Inspect the number of columns remaining and the null values present

In [190]:
naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Car ID               3722 non-null   object
 1   Price                3722 non-null   int64
 2   Fuel Type            3722 non-null   object
 3   Gear Type            3722 non-null   object
 4   Make                 3722 non-null   object
 5   Model                3722 non-null   object
 6   Year of manufacture  3722 non-null   int64
 7   Colour               3722 non-null   object
 8   Condition            3722 non-null   object
 9   Mileage              3722 non-null   float64
 10  Engine Size          3722 non-null   float64
 11  Selling Condition    3722 non-null   object
 12  Bought Condition     3722 non-null   object
 13  Car                  3722 non-null   object
 14  Trim                 879 non-null    object
 15  Drivetrain           838 non-null    object
 16  Seats                788 non-null    float64
 17  Number of Cylinders  826 non-null    float64
 18  Horse Power          755 non-null    float64
 19  Registered city      1901 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 581.7+ KB

##### Drop the following columns due to insufficient values that can affect the analysis

In [191]:
# Check for the number of null values left in each column
naija_cars.isna().sum()

Car ID                    0
Price                     0
Fuel Type                 0
Gear Type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
Car                       0
Trim                   2843
Drivetrain             2884
Seats                  2934
Number of Cylinders    2896
Horse Power            2967
Registered city        1821
dtype: int64

In [192]:
#Get list of all the columns
naija_cars.columns

Index(['Car ID', 'Price', 'Fuel Type', 'Gear Type', 'Make', 'Model',
       'Year of manufacture', 'Colour', 'Condition', 'Mileage', 'Engine Size',
       'Selling Condition', 'Bought Condition', 'Car', 'Trim', 'Drivetrain',
       'Seats', 'Number of Cylinders', 'Horse Power', 'Registered city'],
      dtype='object')

In [193]:
#Drop the following columns due to inssuficient values that can affect the analysis
naija_cars.drop(
    columns=[
        'Trim',
        'Drivetrain',
        'Seats',
        'Number of Cylinders',
        'Horse Power'
    ], axis= 1, inplace=True
)

In [194]:
# Verify that the columns have been dropped.
naija_cars.isna().sum()

Car ID                    0
Price                     0
Fuel Type                 0
Gear Type                 0
Make                      0
Model                     0
Year of manufacture       0
Colour                    0
Condition                 0
Mileage                   0
Engine Size               0
Selling Condition         0
Bought Condition          0
Car                       0
Registered city        1821
dtype: int64

#### For Registered City

In [195]:
# Verify the number of vehicles registered in each city
Counter(naija_cars['Registered city'])

Counter({nan: 1821,
         'Lagos': 399,
         'LAGOS': 804,
         'Abuja': 143,
         'FCT': 10,
         'ABUJA': 185,
         'RIVERS': 39,
         'EDO': 5,
         'NASARAWA': 8,
         'Lagos State': 16,
         'Plateau': 6,
         'ASABA': 4,
         'NASSARAWA': 4,
         'Osun': 1,
         'ANAMBRA': 11,
         'BENIN': 21,
         'FKJ-880HM': 1,
         'AKWA IBOM': 17,
         'Rivers': 25,
         'KADUNA': 15,
         'lagos': 28,
         'IMO': 21,
         'RIVERS STATE': 9,
         'OYO': 10,
         'KWARA': 5,
         'Delta': 3,
         'Ondo': 11,
         'DELTA': 6,
         'Kaduna': 9,
         'BAYELSA': 4,
         'yobe': 2,
         'ONDO': 2,
         'BENUE STATE': 2,
         'Nasarawa': 1,
         'BENUE': 2,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 2,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 5,
         'PLATEAU': 4,
         'OSUN': 6,
         'OGUN': 6,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 2,
         'ENUGU': 5,
         'Rivers state': 1,
         'NIGER': 2,
         'KANO': 3,
         'Oyo': 1,
         'BORNO': 1,
         'LAGOS STATE': 6,
         'Kano State': 2,
         'OSUN STATE': 1,
         'SEME': 2,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         '0': 2,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 2,
         'Lagso': 1,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [196]:
#Get the unique values of the registered city

unique_registered_city = naija_cars['Registered city'].unique()

print(unique_registered_city)

[nan 'Lagos' 'LAGOS' 'Abuja' 'FCT' 'ABUJA' 'RIVERS' 'EDO' 'NASARAWA'
 'Lagos State' 'Plateau' 'ASABA' 'NASSARAWA' 'Osun' 'ANAMBRA' 'BENIN'
 'FKJ-880HM' 'AKWA IBOM' 'Rivers' 'KADUNA' 'lagos' 'IMO' 'RIVERS STATE'
 'OYO' 'KWARA' 'Delta' 'Ondo' 'DELTA' 'Kaduna' 'BAYELSA' 'yobe' 'ONDO'
 'BENUE STATE' 'Nasarawa' 'BENUE' 'ABIA' 'CROSS RIVER' 'Kwara' 'sokoto'
 'Cross River' 'Ogun' 'PLATEAU' 'OSUN' 'OGUN' 'NASARRAWA' 'Sokoto'
 'Katsina' 'Imo' 'ENUGU' 'Rivers state' 'NIGER' 'KANO' 'Oyo' 'BORNO'
 'LAGOS STATE' 'Kano State' 'OSUN STATE' 'SEME' 'KOGI' 'ADAMAWA'
 'Delta state' 'Benue' 'Akwa-Ibom' 'Ekiti' '0' 'ZAMFARA' 'AKURE'
 'ABEOKUTA' 'Lagso' 'PLATEAU STATE' 'BAUCHI' 'RIVER STATE']

In [197]:
naija_cars['Registered city'].fillna('Not Provided', inplace=True)

In [198]:
Counter(naija_cars['Registered city'])

Counter({'Not Provided': 1821,
         'Lagos': 399,
         'LAGOS': 804,
         'Abuja': 143,
         'FCT': 10,
         'ABUJA': 185,
         'RIVERS': 39,
         'EDO': 5,
         'NASARAWA': 8,
         'Lagos State': 16,
         'Plateau': 6,
         'ASABA': 4,
         'NASSARAWA': 4,
         'Osun': 1,
         'ANAMBRA': 11,
         'BENIN': 21,
         'FKJ-880HM': 1,
         'AKWA IBOM': 17,
         'Rivers': 25,
         'KADUNA': 15,
         'lagos': 28,
         'IMO': 21,
         'RIVERS STATE': 9,
         'OYO': 10,
         'KWARA': 5,
         'Delta': 3,
         'Ondo': 11,
         'DELTA': 6,
         'Kaduna': 9,
         'BAYELSA': 4,
         'yobe': 2,
         'ONDO': 2,
         'BENUE STATE': 2,
         'Nasarawa': 1,
         'BENUE': 2,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 2,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 5,
         'PLATEAU': 4,
         'OSUN': 6,
         'OGUN': 6,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 2,
         'ENUGU': 5,
         'Rivers state': 1,
         'NIGER': 2,
         'KANO': 3,
         'Oyo': 1,
         'BORNO': 1,
         'LAGOS STATE': 6,
         'Kano State': 2,
         'OSUN STATE': 1,
         'SEME': 2,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         '0': 2,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 2,
         'Lagso': 1,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [199]:
## Drop values 0, SEME and FKJ-880HM in the Registered City column
naija_cars = naija_cars[naija_cars['Registered city'] != 'SEME']
naija_cars = naija_cars[naija_cars['Registered city'] != '0']
naija_cars = naija_cars[naija_cars['Registered city'] != 'FKJ-880HM']

In [200]:
#Verify if FKJ-880HM, SEME and 0 are present in the list
Counter(naija_cars['Registered city'])

Counter({'Not Provided': 1821,
         'Lagos': 399,
         'LAGOS': 804,
         'Abuja': 143,
         'FCT': 10,
         'ABUJA': 185,
         'RIVERS': 39,
         'EDO': 5,
         'NASARAWA': 8,
         'Lagos State': 16,
         'Plateau': 6,
         'ASABA': 4,
         'NASSARAWA': 4,
         'Osun': 1,
         'ANAMBRA': 11,
         'BENIN': 21,
         'AKWA IBOM': 17,
         'Rivers': 25,
         'KADUNA': 15,
         'lagos': 28,
         'IMO': 21,
         'RIVERS STATE': 9,
         'OYO': 10,
         'KWARA': 5,
         'Delta': 3,
         'Ondo': 11,
         'DELTA': 6,
         'Kaduna': 9,
         'BAYELSA': 4,
         'yobe': 2,
         'ONDO': 2,
         'BENUE STATE': 2,
         'Nasarawa': 1,
         'BENUE': 2,
         'ABIA': 1,
         'CROSS RIVER': 1,
         'Kwara': 2,
         'sokoto': 1,
         'Cross River': 1,
         'Ogun': 5,
         'PLATEAU': 4,
         'OSUN': 6,
         'OGUN': 6,
         'NASARRAWA': 1,
         'Sokoto': 1,
         'Katsina': 1,
         'Imo': 2,
         'ENUGU': 5,
         'Rivers state': 1,
         'NIGER': 2,
         'KANO': 3,
         'Oyo': 1,
         'BORNO': 1,
         'LAGOS STATE': 6,
         'Kano State': 2,
         'OSUN STATE': 1,
         'KOGI': 1,
         'ADAMAWA': 1,
         'Delta state': 1,
         'Benue': 1,
         'Akwa-Ibom': 1,
         'Ekiti': 1,
         'ZAMFARA': 1,
         'AKURE': 1,
         'ABEOKUTA': 2,
         'Lagso': 1,
         'PLATEAU STATE': 1,
         'BAUCHI': 1,
         'RIVER STATE': 1})

In [201]:
#Replace null values

naija_cars['Registered city'].isna().sum()

naija_cars.fillna({'Registered city' : 'Not Provided'}, inplace= True)

In [202]:
#Verify that null values have been replaced with "Not Provided"
#They have been replaced

naija_cars['Registered city'].isna().sum()

0

In [203]:
# Get the unique values in the Registered City column

unique_registered_city = naija_cars['Registered city'].unique()

In [204]:
# Arrange values in ascending order

unique_registered_city.sort()

print(unique_registered_city)

['ABEOKUTA' 'ABIA' 'ABUJA' 'ADAMAWA' 'AKURE' 'AKWA IBOM' 'ANAMBRA' 'ASABA'
 'Abuja' 'Akwa-Ibom' 'BAUCHI' 'BAYELSA' 'BENIN' 'BENUE' 'BENUE STATE'
 'BORNO' 'Benue' 'CROSS RIVER' 'Cross River' 'DELTA' 'Delta' 'Delta state'
 'EDO' 'ENUGU' 'Ekiti' 'FCT' 'IMO' 'Imo' 'KADUNA' 'KANO' 'KOGI' 'KWARA'
 'Kaduna' 'Kano State' 'Katsina' 'Kwara' 'LAGOS' 'LAGOS STATE' 'Lagos'
 'Lagos State' 'Lagso' 'NASARAWA' 'NASARRAWA' 'NASSARAWA' 'NIGER'
 'Nasarawa' 'Not Provided' 'OGUN' 'ONDO' 'OSUN' 'OSUN STATE' 'OYO' 'Ogun'
 'Ondo' 'Osun' 'Oyo' 'PLATEAU' 'PLATEAU STATE' 'Plateau' 'RIVER STATE'
 'RIVERS' 'RIVERS STATE' 'Rivers' 'Rivers state' 'Sokoto' 'ZAMFARA'
 'lagos' 'sokoto' 'yobe']

In [205]:
# This is to distinguish the different cities by uppercase, lowercase and mixedcase words.

uppercase_registered_city = [word for word in unique_registered_city if word.isupper()]
lowercase_registered_city = [word for word in unique_registered_city if word.islower()]
mixedcase_registered_city = [word for word in unique_registered_city if not word.islower() and not word.isupper()]

print(uppercase_registered_city)
print(lowercase_registered_city)
print(mixedcase_registered_city)

['ABEOKUTA', 'ABIA', 'ABUJA', 'ADAMAWA', 'AKURE', 'AKWA IBOM', 'ANAMBRA', 'ASABA', 'BAUCHI', 'BAYELSA', 'BENIN', 'BENUE', 'BENUE STATE', 'BORNO', 'CROSS RIVER', 'DELTA', 'EDO', 'ENUGU', 'FCT', 'IMO', 'KADUNA', 'KANO', 'KOGI', 'KWARA', 'LAGOS', 'LAGOS STATE', 'NASARAWA', 'NASARRAWA', 'NASSARAWA', 'NIGER', 'OGUN', 'ONDO', 'OSUN', 'OSUN STATE', 'OYO', 'PLATEAU', 'PLATEAU STATE', 'RIVER STATE', 'RIVERS', 'RIVERS STATE', 'ZAMFARA']
['lagos', 'sokoto', 'yobe']
['Abuja', 'Akwa-Ibom', 'Benue', 'Cross River', 'Delta', 'Delta state', 'Ekiti', 'Imo', 'Kaduna', 'Kano State', 'Katsina', 'Kwara', 'Lagos', 'Lagos State', 'Lagso', 'Nasarawa', 'Not Provided', 'Ogun', 'Ondo', 'Osun', 'Oyo', 'Plateau', 'Rivers', 'Rivers state', 'Sokoto']

In [206]:
#Replace the different city names with correct city names

#For States
naija_cars['Registered city'].replace(
    {
        'Abuja':'ABUJA',
        'FCT': 'ABUJA',
        'LAGOS STATE':'LAGOS',
        'Lagos State':'LAGOS',
        'Lagso':'LAGOS',
        'lagos':'LAGOS',
        'Lagos': 'LAGOS',
        'ABEOKUTA' : 'OGUN',
        'Ogun' : 'OGUN',
        'AKURE':'ONDO',
        'Akwa-Ibom':'AKWA IBOM',
        'ASABA':'DELTA',
        'Benue':'BENUE',
        'BENUE STATE':'BENUE',
        'Cross River':'CROSS RIVER',
        'Delta':'DELTA',
        'Delta state':'DELTA',
        'Imo':'IMO',
        'Kaduna':'KADUNA',
        'Kano State':'KANO',
        'Kwara':'KWARA',
        'NASARRAWA':'NASARAWA',
        'NASSARAWA':'NASARAWA',
        'Nasarawa':'NASARAWA',
        'Ogun':'OGUN',
        'Ondo':'ONDO',
        'OSUN STATE':'OSUN',
        'Osun':'OSUN',
        'Oyo':'OYO',
        'Plateau':'PLATEAU',
        'PLATEAU STATE':'PLATEAU',
        'RIVERS STATE':'RIVERS',
        'RIVER STATE':'RIVERS',
        'Rivers':'RIVERS',
        'Rivers state':'RIVERS',
        'Sokoto':'SOKOTO',
        'sokoto':'SOKOTO',
        'yobe':'YOBE',
        'BENIN': 'EDO',
        'Ekiti':'EKITI',
        'Katsina':'KATSINA'
    },inplace= True
)

In [207]:
#Verify to check that they have been changed
unique_registered_city = naija_cars['Registered city'].unique()

print(unique_registered_city)

['Not Provided' 'LAGOS' 'ABUJA' 'RIVERS' 'EDO' 'NASARAWA' 'PLATEAU'
 'DELTA' 'OSUN' 'ANAMBRA' 'AKWA IBOM' 'KADUNA' 'IMO' 'OYO' 'KWARA' 'ONDO'
 'BAYELSA' 'YOBE' 'BENUE' 'ABIA' 'CROSS RIVER' 'SOKOTO' 'OGUN' 'KATSINA'
 'ENUGU' 'NIGER' 'KANO' 'BORNO' 'KOGI' 'ADAMAWA' 'EKITI' 'ZAMFARA'
 'BAUCHI']

In [208]:
#Verify to check that they have been changed
Counter(naija_cars['Registered city'])

Counter({'Not Provided': 1821,
         'LAGOS': 1254,
         'ABUJA': 338,
         'RIVERS': 75,
         'EDO': 26,
         'NASARAWA': 14,
         'PLATEAU': 11,
         'DELTA': 14,
         'OSUN': 8,
         'ANAMBRA': 11,
         'AKWA IBOM': 18,
         'KADUNA': 24,
         'IMO': 23,
         'OYO': 11,
         'KWARA': 7,
         'ONDO': 14,
         'BAYELSA': 4,
         'YOBE': 2,
         'BENUE': 5,
         'ABIA': 1,
         'CROSS RIVER': 2,
         'SOKOTO': 2,
         'OGUN': 13,
         'KATSINA': 1,
         'ENUGU': 5,
         'NIGER': 2,
         'KANO': 5,
         'BORNO': 1,
         'KOGI': 1,
         'ADAMAWA': 1,
         'EKITI': 1,
         'ZAMFARA': 1,
         'BAUCHI': 1})

In [209]:
#Verify
unique_registered_city.shape

(33,)

In [210]:
print(unique_registered_city)

['Not Provided' 'LAGOS' 'ABUJA' 'RIVERS' 'EDO' 'NASARAWA' 'PLATEAU'
 'DELTA' 'OSUN' 'ANAMBRA' 'AKWA IBOM' 'KADUNA' 'IMO' 'OYO' 'KWARA' 'ONDO'
 'BAYELSA' 'YOBE' 'BENUE' 'ABIA' 'CROSS RIVER' 'SOKOTO' 'OGUN' 'KATSINA'
 'ENUGU' 'NIGER' 'KANO' 'BORNO' 'KOGI' 'ADAMAWA' 'EKITI' 'ZAMFARA'
 'BAUCHI']

In [211]:
unique_registered_city.sort()

print(unique_registered_city)

['ABIA' 'ABUJA' 'ADAMAWA' 'AKWA IBOM' 'ANAMBRA' 'BAUCHI' 'BAYELSA' 'BENUE'
 'BORNO' 'CROSS RIVER' 'DELTA' 'EDO' 'EKITI' 'ENUGU' 'IMO' 'KADUNA' 'KANO'
 'KATSINA' 'KOGI' 'KWARA' 'LAGOS' 'NASARAWA' 'NIGER' 'Not Provided' 'OGUN'
 'ONDO' 'OSUN' 'OYO' 'PLATEAU' 'RIVERS' 'SOKOTO' 'YOBE' 'ZAMFARA']

In [212]:
unique_registered_city.sort()

print(unique_registered_city)

['ABIA' 'ABUJA' 'ADAMAWA' 'AKWA IBOM' 'ANAMBRA' 'BAUCHI' 'BAYELSA' 'BENUE'
 'BORNO' 'CROSS RIVER' 'DELTA' 'EDO' 'EKITI' 'ENUGU' 'IMO' 'KADUNA' 'KANO'
 'KATSINA' 'KOGI' 'KWARA' 'LAGOS' 'NASARAWA' 'NIGER' 'Not Provided' 'OGUN'
 'ONDO' 'OSUN' 'OYO' 'PLATEAU' 'RIVERS' 'SOKOTO' 'YOBE' 'ZAMFARA']

In [213]:
#Verify the number of columns and verify if there are any null values left
naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3717 entries, 0 to 3721
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Car ID               3717 non-null   object
 1   Price                3717 non-null   int64
 2   Fuel Type            3717 non-null   object
 3   Gear Type            3717 non-null   object
 4   Make                 3717 non-null   object
 5   Model                3717 non-null   object
 6   Year of manufacture  3717 non-null   int64
 7   Colour               3717 non-null   object
 8   Condition            3717 non-null   object
 9   Mileage              3717 non-null   float64
 10  Engine Size          3717 non-null   float64
 11  Selling Condition    3717 non-null   object
 12  Bought Condition     3717 non-null   object
 13  Car                  3717 non-null   object
 14  Registered city      3717 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 464.6+ KB

#### For Make

##### Get a list of all the different car makes and locate the different types that should not be there.

**Note:** The following 'make' in the lsit below should not be there.
- Seat
- Other
- Self Contained
- Swipe Key Cards

In [214]:
unique_car_make = naija_cars['Make'].unique()
unique_car_make.sort()

print(unique_car_make)

['Acura' 'Audi' 'BMW' 'Bentley' 'Buick' 'Cadillac' 'Chevrolet' 'Chrysler'
 'Citroen' 'Dacia' 'Dodge' 'Ford' 'GAC' 'GMC' 'Honda' 'Hyundai' 'Infiniti'
 'Iveco' 'JAC' 'Jaguar' 'Jeep' 'Kia' 'Lancia' 'Land Rover' 'Lexus'
 'Lincoln' 'Mazda' 'Mercedes-Benz' 'Mercury' 'Mini' 'Mitsubishi' 'Nissan'
 'Opel' 'Other' 'Peugeot' 'Pontiac' 'Porsche' 'Renault' 'Rover' 'Saturn'
 'Scion' 'Seat' 'Self Contained' 'SsangYong' 'Subaru' 'Suzuki'
 'Swipe Key Cards' 'Toyota' 'Volkswagen' 'Volvo']

##### Verify the numbers each for the different makes

In [215]:
Counter(naija_cars['Make'])

Counter({'Toyota': 1598,
         'Acura': 80,
         'Land Rover': 44,
         'Ford': 156,
         'Lexus': 350,
         'Mercedes-Benz': 294,
         'Lancia': 1,
         'Renault': 4,
         'Hyundai': 154,
         'Saturn': 2,
         'Dodge': 17,
         'Infiniti': 32,
         'Pontiac': 19,
         'Cadillac': 4,
         'Mitsubishi': 33,
         'Kia': 85,
         'Jeep': 12,
         'Honda': 362,
         'Mini': 5,
         'Mazda': 56,
         'Scion': 3,
         'Nissan': 134,
         'Chevrolet': 13,
         'Citroen': 3,
         'GAC': 1,
         'Opel': 7,
         'BMW': 55,
         'Volkswagen': 71,
         'Peugeot': 52,
         'Volvo': 9,
         'Subaru': 4,
         'Chrysler': 11,
         'GMC': 3,
         'Audi': 18,
         'Bentley': 1,
         'Porsche': 4,
         'Suzuki': 1,
         'Rover': 3,
         'Dacia': 1,
         'Other': 1,
         'Mercury': 2,
         'Seat': 1,
         'Swipe Key Cards': 1,
         'Iveco': 1,
         'Self Contained': 1,
         'Lincoln': 2,
         'SsangYong': 1,
         'Jaguar': 3,
         'Buick': 1,
         'JAC': 1})

##### As suspected, they all have just one item each. 

**Proceed to take them out of the list so that they will not affect the analysis**

In [216]:
naija_cars = naija_cars[naija_cars['Make'] != 'Seat']
naija_cars = naija_cars[naija_cars['Make'] != 'Other']
naija_cars = naija_cars[naija_cars['Make'] != 'Self Contained']
naija_cars = naija_cars[naija_cars['Make'] != 'Swipe Key Cards']

**Verify if they have been deleted**

They have been deleted

In [217]:
unique_car_make = naija_cars['Make'].unique()

print(unique_car_make)

['Toyota' 'Acura' 'Land Rover' 'Ford' 'Lexus' 'Mercedes-Benz' 'Lancia'
 'Renault' 'Hyundai' 'Saturn' 'Dodge' 'Infiniti' 'Pontiac' 'Cadillac'
 'Mitsubishi' 'Kia' 'Jeep' 'Honda' 'Mini' 'Mazda' 'Scion' 'Nissan'
 'Chevrolet' 'Citroen' 'GAC' 'Opel' 'BMW' 'Volkswagen' 'Peugeot' 'Volvo'
 'Subaru' 'Chrysler' 'GMC' 'Audi' 'Bentley' 'Porsche' 'Suzuki' 'Rover'
 'Dacia' 'Mercury' 'Iveco' 'Lincoln' 'SsangYong' 'Jaguar' 'Buick' 'JAC']

#### For Model

Check for Null values

##### Checking for null values

No null value found in the array

In [218]:
unique_car_model = naija_cars['Model'].unique()

print(unique_car_model)

['Corolla' 'MDX' 'TL' 'Range Rover' 'Edge' 'ZDX' 'GX' 'GS' 'Camry'
 'GLK-Class' 'M Class' 'GL-Class' 'Range Rover Vogue' 'Thesis' 'HiAce'
 'ES' 'Highlander' 'RX 400h' 'Tacoma' 'RAV4' 'Venza' 'Duster' 'Hilux'
 'Viano' 'Creta' 'H1' 'Santa Fe' 'Range Rover Evoque' 'IS' 'RC' 'Sonata'
 'C300' 'Sequoia' 'Land Cruiser Prado' 'C-Class' 'Sienna' 'Tundra'
 'Avalon' 'Vue' 'GLA 250' 'C350' 'Explorer' 'Matrix' 'Sport Trac'
 'Land Cruiser' 'RX 350' 'GLE-Class' 'CLS' 'Expedition' 'R-Class'
 'Discovery' 'Corolla Altis' 'Dakota' 'Journey' 'E550' 'Fortuner' 'Azera'
 'QX60' 'Vibe' 'Elantra' 'F-150' '4-Runner' 'LX' 'Caravan' 'SRX' 'RX'
 'RDX' 'S-Class' 'E350' 'Solara' 'Pajero' 'Sorento' 'Sedona' 'Wrangler'
 'Solstice' 'Accord' 'Pilot' 'Escape' 'Prius' 'Ranger' 'Cooper' 'Mustang'
 'RX 330' 'Mohave' 'Caliber' 'Montero' 'Lr3' 'Accord Crosstour'
 'CLA-Class' 'Avanza' 'Forte' 'CX-7' 'xB' 'Ridgeline' 'Odyssey' 'Maxima'
 'C200' 'Qashqai' 'E300' 'Sportage' 'CR-V' 'Sentra' 'RL' 'Armada'
 'Equinox' 'Pathfinder' 'Ix35' 'Altima' 'QX56' 'Murano' 'Crosstour'
 'Navara' 'Genesis' 'Rio' 'TSX' 'Berlingo' '6' 'GA5' 'Rogue' 'CX-9' 'E320'
 'Focus' 'Primera' 'Galaxy' 'Titan' 'Versa' 'Astra' 'RX 300' 'Almera'
 'Outlander' '328i' 'Soul' 'Liberty' 'X-Trail' 'Accent' 'Passat' 'FX35'
 'Optima' '525i' 'X5' 'MPV' 'Tiguan' '320i' 'Range Rover Sport' 'Tucson'
 '3' 'Avensis' '550i' '3 Series' '307' 'Transporter' 'Corolla Verso' 'X3'
 'XC90' 'Xterra' 'Legacy' '807' 'Camaro' 'Yaris' 'Lr4' 'Sebring' 'Zafira'
 'C220' 'Golf' 'Terrain' 'C240' '406' 'W123' 'C180' 'C230' '408' '325i'
 '5 Series' 'A7' 'Jetta' 'FJ Cruiser' 'GLC-Class' 'A4' 'Continental'
 'Torrent' '5' 'Golf Variant' 'Cerato' 'Civic' 'Q7' 'QX4' 'Minica' '535i'
 'Panamera' 'Picnic' 'Acadia' '206' '407' 'Q50' 'City' 'Tiida' 'I10'
 'Endeavor' 'Vitara' 'Carina E' 'Laguna' 'Lancer' 'Sunny' 'Polo' 'Picanto'
 '607' 'Teana' 'Cayenne' 'A-Class' 'Tribute' 'Previa' 'Millenia' 'G35'
 'MGF' 'Fusion' 'Vamos' 'Premacy' 'Freelander' 'Quest' 'Outback' 'Logan'
 'G-Class' 'Crossfire' 'Vento' 'JX' 'Bora' 'Optra' 'Charger' '528i'
 'Mariner' 'LS' 'Range Rover Velar' 'QX80' 'C43' 'ILX' 'L200' 'NX'
 'Avenger' 'Veracruz' 'GLS-Class' 'EX' 'Borrego' 'Cadenza' 'Durango'
 '523i' 'C250' 'Canter' 'Touareg' 'Mountaineer' 'Uplander' 'Daily' 'E-350'
 'GLA-Class' 'Yukon' 'Veloster' 'Serena' 'Malibu' 'MKX' 'Taurus' 'FR-V'
 'Land' 'CL' 'Kyron' 'Routan' 'Patrol' '200' 'Condor' 'Escalade'
 'Avalanche' 'Compass' '530i' 'E200' 'Ecosport' 'K5' 'A6' 'XJ' 'FX' 'Lr2'
 'Flex' 'Grand Cherokee' 'tC' 'Challenger' 'CC' '116i' 'SLK-Class' '300C'
 'Stream' 'Navigator' 'Frontier' 'X6' 'Pick-Up' 'X-Type' 'Rendezvous'
 '7 Series' 'Grand Caravan' 'Commander' 'Sharan' 'S80' 'MX-3' 'Cherokee'
 'M' 'Jazz' 'Spacestar' 'Town&Country' 'Element' 'S-Coupe' 'Q5' 'Tribeca'
 '130i' 'Pajero IO' '323i' 'Vectra' 'C4' '508' 'J4' 'C320' 'C280' '308'
 'Avensis Verso' 'Juke' 'Carens' 'Citi' 'Micra' '230E']

In [219]:
unique_car_model.sort()

print(unique_car_model)

['116i' '130i' '200' '206' '230E' '3' '3 Series' '300C' '307' '308' '320i'
 '323i' '325i' '328i' '4-Runner' '406' '407' '408' '5' '5 Series' '508'
 '523i' '525i' '528i' '530i' '535i' '550i' '6' '607' '7 Series' '807'
 'A-Class' 'A4' 'A6' 'A7' 'Acadia' 'Accent' 'Accord' 'Accord Crosstour'
 'Almera' 'Altima' 'Armada' 'Astra' 'Avalanche' 'Avalon' 'Avanza'
 'Avenger' 'Avensis' 'Avensis Verso' 'Azera' 'Berlingo' 'Bora' 'Borrego'
 'C-Class' 'C180' 'C200' 'C220' 'C230' 'C240' 'C250' 'C280' 'C300' 'C320'
 'C350' 'C4' 'C43' 'CC' 'CL' 'CLA-Class' 'CLS' 'CR-V' 'CX-7' 'CX-9'
 'Cadenza' 'Caliber' 'Camaro' 'Camry' 'Canter' 'Caravan' 'Carens'
 'Carina E' 'Cayenne' 'Cerato' 'Challenger' 'Charger' 'Cherokee' 'Citi'
 'City' 'Civic' 'Commander' 'Compass' 'Condor' 'Continental' 'Cooper'
 'Corolla' 'Corolla Altis' 'Corolla Verso' 'Creta' 'Crossfire' 'Crosstour'
 'Daily' 'Dakota' 'Discovery' 'Durango' 'Duster' 'E-350' 'E200' 'E300'
 'E320' 'E350' 'E550' 'ES' 'EX' 'Ecosport' 'Edge' 'Elantra' 'Element'
 'Endeavor' 'Equinox' 'Escalade' 'Escape' 'Expedition' 'Explorer' 'F-150'
 'FJ Cruiser' 'FR-V' 'FX' 'FX35' 'Flex' 'Focus' 'Forte' 'Fortuner'
 'Freelander' 'Frontier' 'Fusion' 'G-Class' 'G35' 'GA5' 'GL-Class'
 'GLA 250' 'GLA-Class' 'GLC-Class' 'GLE-Class' 'GLK-Class' 'GLS-Class'
 'GS' 'GX' 'Galaxy' 'Genesis' 'Golf' 'Golf Variant' 'Grand Caravan'
 'Grand Cherokee' 'H1' 'HiAce' 'Highlander' 'Hilux' 'I10' 'ILX' 'IS'
 'Ix35' 'J4' 'JX' 'Jazz' 'Jetta' 'Journey' 'Juke' 'K5' 'Kyron' 'L200' 'LS'
 'LX' 'Laguna' 'Lancer' 'Land' 'Land Cruiser' 'Land Cruiser Prado'
 'Legacy' 'Liberty' 'Logan' 'Lr2' 'Lr3' 'Lr4' 'M' 'M Class' 'MDX' 'MGF'
 'MKX' 'MPV' 'MX-3' 'Malibu' 'Mariner' 'Matrix' 'Maxima' 'Micra'
 'Millenia' 'Minica' 'Mohave' 'Montero' 'Mountaineer' 'Murano' 'Mustang'
 'NX' 'Navara' 'Navigator' 'Odyssey' 'Optima' 'Optra' 'Outback'
 'Outlander' 'Pajero' 'Pajero IO' 'Panamera' 'Passat' 'Pathfinder'
 'Patrol' 'Picanto' 'Pick-Up' 'Picnic' 'Pilot' 'Polo' 'Premacy' 'Previa'
 'Primera' 'Prius' 'Q5' 'Q50' 'Q7' 'QX4' 'QX56' 'QX60' 'QX80' 'Qashqai'
 'Quest' 'R-Class' 'RAV4' 'RC' 'RDX' 'RL' 'RX' 'RX 300' 'RX 330' 'RX 350'
 'RX 400h' 'Range Rover' 'Range Rover Evoque' 'Range Rover Sport'
 'Range Rover Velar' 'Range Rover Vogue' 'Ranger' 'Rendezvous' 'Ridgeline'
 'Rio' 'Rogue' 'Routan' 'S-Class' 'S-Coupe' 'S80' 'SLK-Class' 'SRX'
 'Santa Fe' 'Sebring' 'Sedona' 'Sentra' 'Sequoia' 'Serena' 'Sharan'
 'Sienna' 'Solara' 'Solstice' 'Sonata' 'Sorento' 'Soul' 'Spacestar'
 'Sport Trac' 'Sportage' 'Stream' 'Sunny' 'TL' 'TSX' 'Tacoma' 'Taurus'
 'Teana' 'Terrain' 'Thesis' 'Tiguan' 'Tiida' 'Titan' 'Torrent' 'Touareg'
 'Town&Country' 'Transporter' 'Tribeca' 'Tribute' 'Tucson' 'Tundra'
 'Uplander' 'Vamos' 'Vectra' 'Veloster' 'Vento' 'Venza' 'Veracruz' 'Versa'
 'Viano' 'Vibe' 'Vitara' 'Vue' 'W123' 'Wrangler' 'X-Trail' 'X-Type' 'X3'
 'X5' 'X6' 'XC90' 'XJ' 'Xterra' 'Yaris' 'Yukon' 'ZDX' 'Zafira' 'tC' 'xB']

In [220]:
naija_cars.head(3)

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,Not Provided,Not Provided
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,Not Provided
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,Not Provided

## Analysis

### For Price Distribution of Different Car Makes

Here, I would like to analyse the list of cars that are the most expensive and the least expensive with their makes and models.

In [221]:
#To get the columns for this particular insisght
naija_cars[
    {
        'Make', 
        'Model',
        'Price',
        'Year of manufacture'
    }
].head(10)

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3546839611.py:2: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  naija_cars[

         Model  Year of manufacture     Price           Make
0      Corolla                 2004   2812500         Toyota
1          MDX                 2007   5000000          Acura
2           TL                 2012   7592000          Acura
3  Range Rover                 2012   9880000     Land Rover
4         Edge                 2013   4160000           Ford
5          ZDX                 2010   5250000          Acura
6           GX                 2011  16640000          Lexus
7           GS                 2013   7980000          Lexus
8        Camry                 2007   3885000         Toyota
9    GLK-Class                 2015  13000000  Mercedes-Benz

In [223]:
for_price_variation = naija_cars[
    {
        'Make',
        'Model',
        'Price',
        'Year of manufacture',
        'Condition'
        
    }
]

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3796853536.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  for_price_variation = naija_cars[

##### To get the most expensive cars

In [346]:
max_for_price_variation = pd.DataFrame(for_price_variation)
max_for_price_variation.sort_values('Price', ascending=False, inplace=True)

max_for_price_variation.head(20)

,Year of manufacture,Price,Make,Model,Condition
310,2015,62400000,Mercedes-Benz,S-Class,Foreign Used
1667,2015,61875000,Mercedes-Benz,G-Class,Foreign Used
2070,2018,50400000,Toyota,Land Cruiser,Nigerian Used
1877,2020,50400000,Land Rover,Range Rover Velar,Nigerian Used
1892,2014,49920000,Mercedes-Benz,G-Class,Foreign Used
2270,2019,48510000,Lexus,LX,Foreign Used
3162,2018,40950000,Rover,Land,Foreign Used
1886,2020,40250000,Mercedes-Benz,C43,Nigerian Used
23,2016,39900000,Land Rover,Range Rover,Nigerian Used
1777,2015,36170000,Ford,F-150,Foreign Used
2759,2018,35360000,Toyota,Land Cruiser Prado,Nigerian Used
1521,2017,33600000,Land Rover,Discovery,Foreign Used
197,2017,33600000,Land Rover,Discovery,Foreign Used
1406,2019,31500000,Lexus,RX 350,Foreign Used
1387,2019,31500000,Lexus,RX 350,Foreign Used
1414,2014,31200000,Land Rover,Range Rover,Nigerian Used
1397,2014,31200000,Land Rover,Range Rover,Nigerian Used
168,2017,31200000,Mercedes-Benz,GLE-Class,Nigerian Used
2063,2018,29750000,Mercedes-Benz,GLS-Class,Nigerian Used
1850,2010,29400000,Toyota,Land Cruiser,Foreign Used

##### To get the least expensive cars

In [225]:
min_for_price_variation = pd.DataFrame(for_price_variation)
min_for_price_variation.sort_values('Price', ascending=True, inplace=True)

min_for_price_variation

,Year of manufacture,Price,Make,Model,Condition
1661,2000,550000,Honda,Civic,Nigerian Used
1694,1996,630000,Volkswagen,Vento,Nigerian Used
1677,1996,630000,Volkswagen,Vento,Nigerian Used
1681,1995,682500,Honda,Accord,Nigerian Used
1691,1995,682500,Honda,Accord,Nigerian Used
...,...,...,...,...,...
1892,2014,49920000,Mercedes-Benz,G-Class,Foreign Used
1877,2020,50400000,Land Rover,Range Rover Velar,Nigerian Used
2070,2018,50400000,Toyota,Land Cruiser,Nigerian Used
1667,2015,61875000,Mercedes-Benz,G-Class,Foreign Used
310,2015,62400000,Mercedes-Benz,S-Class,Foreign Used

### For Fuel Type and  of Different Car Makes

Here, I aim to find the relationship between fuel types of the different cars with their individual prices.

Questions:
- What fuel type is used the most?
- What make of vehicles use the most utilised fuel types?

##### Identify the different fuel types present in the dataset

In [226]:
unique_fuel_type = naija_cars['Fuel Type'].unique()

print(unique_fuel_type)

['Petrol' 'Diesel' 'Hybrid' 'Electric' 'Not Provided']

In [227]:
naija_cars[
    {
        'Make',
        'Model',
        'Fuel Type'
    }
]

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\2400500977.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  naija_cars[

     Fuel Type        Model           Make
0       Petrol      Corolla         Toyota
1       Petrol          MDX          Acura
2       Petrol           TL          Acura
3       Petrol  Range Rover     Land Rover
4       Petrol         Edge           Ford
...        ...          ...            ...
3717    Petrol         RAV4         Toyota
3718    Petrol      M Class  Mercedes-Benz
3719    Petrol        Camry         Toyota
3720    Petrol         RAV4         Toyota
3721    Petrol        Civic          Honda

[3713 rows x 3 columns]

##### Most used fuel type
It shows that petrol is the most used fuel type in the dataset

In [228]:
Counter(naija_cars['Fuel Type'])

Counter({'Petrol': 3661,
         'Diesel': 14,
         'Hybrid': 36,
         'Electric': 1,
         'Not Provided': 1})

**Convert to table format**

In [229]:
# create a Counter object of the fuel types
fuel_counts = Counter(naija_cars['Fuel Type'])

# convert the Counter object to a pandas DataFrame
fuel_type = pd.DataFrame.from_dict(fuel_counts, orient='index', columns=['Count'])

# sort the DataFrame by the count of each fuel type
fuel_type = fuel_type.sort_values(by='Count', ascending=False)

# reset the index to make the fuel types a column
fuel_type = fuel_type.reset_index().rename(columns={'index': 'Fuel Type'})

# display the resulting table
print(fuel_type)

      Fuel Type  Count
0        Petrol   3661
1        Hybrid     36
2        Diesel     14
3      Electric      1
4  Not Provided      1

##### Total number of cars present in the dataset

In [230]:
unique_car_make.shape

(46,)

##### This is to filter for only cars that use "Petrol"

In [231]:
fuel_type_petrol = naija_cars[naija_cars['Fuel Type'] == 'Petrol']

In [232]:
#Verify
fuel_type_petrol

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,Not Provided,Not Provided
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,Not Provided
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,Not Provided
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,Not Provided
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,LAGOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717,C4Ly76wwazrtbYRAWkTnv2Q5,1924000,Petrol,Automatic,Toyota,RAV4,2003,Red,Nigerian Used,282769.0,2000.0,Registered,Imported,SUV,PLATEAU
3718,jPA7XlJJxdwpZStlurumw59q,1890000,Petrol,Automatic,Mercedes-Benz,M Class,2002,Silver,Nigerian Used,182544.0,3200.0,Registered,Registered,SUV,Not Provided
3719,g5szhuHeXu2djH1Z2be22G7E,1155000,Petrol,Automatic,Toyota,Camry,2000,Black,Nigerian Used,234354.0,2200.0,Registered,Registered,Sedan,RIVERS
3720,mdZMNQK7Zez0cSS67Q9Quhzr,1260000,Petrol,Automatic,Toyota,RAV4,2001,Black,Nigerian Used,345926.0,2000.0,Registered,Registered,SUV,Not Provided
3721,fSUvulLwnXYlc1muFsrjrsAR,1872000,Petrol,Automatic,Honda,Civic,2007,Black,Nigerian Used,90330.0,1800.0,Registered,Registered,Not Provided,Not Provided

##### Get a list of all car makes that use 'Petrol'

In [233]:
unique_fuel_type_petrol_make = fuel_type_petrol['Make'].unique()

print(unique_fuel_type_petrol_make)

['Toyota' 'Acura' 'Land Rover' 'Ford' 'Lexus' 'Mercedes-Benz' 'Renault'
 'Hyundai' 'Saturn' 'Dodge' 'Infiniti' 'Pontiac' 'Cadillac' 'Mitsubishi'
 'Kia' 'Jeep' 'Honda' 'Mini' 'Mazda' 'Scion' 'Nissan' 'Chevrolet'
 'Citroen' 'GAC' 'Opel' 'BMW' 'Volkswagen' 'Peugeot' 'Volvo' 'Subaru'
 'Chrysler' 'GMC' 'Audi' 'Bentley' 'Porsche' 'Suzuki' 'Rover' 'Dacia'
 'Mercury' 'Lincoln' 'SsangYong' 'Jaguar' 'Buick' 'JAC']

##### This is to arrange the list in alphabetical/ascending order

In [234]:
unique_fuel_type_petrol_make.sort()

print(unique_fuel_type_petrol_make)

['Acura' 'Audi' 'BMW' 'Bentley' 'Buick' 'Cadillac' 'Chevrolet' 'Chrysler'
 'Citroen' 'Dacia' 'Dodge' 'Ford' 'GAC' 'GMC' 'Honda' 'Hyundai' 'Infiniti'
 'JAC' 'Jaguar' 'Jeep' 'Kia' 'Land Rover' 'Lexus' 'Lincoln' 'Mazda'
 'Mercedes-Benz' 'Mercury' 'Mini' 'Mitsubishi' 'Nissan' 'Opel' 'Peugeot'
 'Pontiac' 'Porsche' 'Renault' 'Rover' 'Saturn' 'Scion' 'SsangYong'
 'Subaru' 'Suzuki' 'Toyota' 'Volkswagen' 'Volvo']

##### This is to get the number of each vehicle make and model that uses petrol

In [288]:
count_petrol_make = fuel_type_petrol[
    {
        'Make', 
        'Model'
    }
].value_counts()

print(count_petrol_make.head(20))

Model       Make
Camry       Toyota           528
Corolla     Toyota           404
Accord      Honda            177
Highlander  Toyota           136
ES          Lexus            114
Sienna      Toyota           103
RAV4        Toyota            90
Edge        Ford              77
RX 350      Lexus             70
Pilot       Honda             53
M Class     Mercedes-Benz     51
MDX         Acura             50
Venza       Toyota            50
C300        Mercedes-Benz     48
Sonata      Hyundai           47
Avalon      Toyota            47
Matrix      Toyota            44
IS          Lexus             41
CR-V        Honda             38
Civic       Honda             35
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\4097559626.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count_petrol_make = fuel_type_petrol[

##### This is to filter for only cars that use "Diesel"

In [236]:
fuel_type_diesel = naija_cars[naija_cars['Fuel Type'] == 'Diesel']

In [237]:
# Verify
fuel_type_diesel

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Registered city
14,aa8nq9ZiuiVXOMzlxJvdOPUK,3990000,Diesel,Manual,Lancia,Thesis,2007,White,Foreign Used,214524.0,2800.0,Imported,Imported,Not Provided,Not Provided
2289,tPqVwLhxAs5ikVHkJE5Uno3h,7245000,Diesel,Manual,Mitsubishi,Canter,2004,White,Nigerian Used,99999.0,2500.0,Registered,Registered,Not Provided,KADUNA
2548,gtLfDO2xJXlOBIO2LkTTlZ2i,3275000,Diesel,Manual,Iveco,Daily,2000,White,Foreign Used,158594.0,3000.0,Imported,Imported,Van,Not Provided
2564,v2PwZDoz3xtHmgKmXdmkdgQJ,4830000,Diesel,Automatic,Ford,E-350,2008,White,Foreign Used,781587.0,6000.0,Imported,Imported,Truck,Not Provided
2589,v2PwZDoz3xtHmgKmXdmkdgQJ,4830000,Diesel,Automatic,Ford,E-350,2008,White,Foreign Used,781587.0,6000.0,Imported,Imported,Truck,Not Provided
2886,u4sE9auH7LGCYr4ZEPDBCTdC,3900000,Diesel,Manual,Hyundai,H1,2008,White,Nigerian Used,68733.0,2500.0,Registered,Imported,Bus,Not Provided
2900,uObpX2nWuIRQd3yjoWEWhq43,10920000,Diesel,Manual,Toyota,Hilux,2009,White,Nigerian Used,280237.0,2500.0,Registered,Registered,Pickup,LAGOS
2904,qhfku5wfHHi4g5cJdcTzAw8c,2625000,Diesel,Manual,Toyota,Condor,2005,Off white,Nigerian Used,201413.0,3000.0,Registered,Registered,MUV,PLATEAU
3061,BUqA8LJUYT58cOikNCkRDtCv,2625000,Diesel,Manual,Volkswagen,Transporter,1997,Brown,Nigerian Used,330855.0,2400.0,Registered,Imported,Bus,LAGOS
3068,BUqA8LJUYT58cOikNCkRDtCv,2625000,Diesel,Manual,Volkswagen,Transporter,1997,Brown,Nigerian Used,330855.0,2400.0,Registered,Imported,Bus,LAGOS
3117,wnUYHJ8QVOfNq5X9jyEcS5wH,26250000,Diesel,Automatic,Toyota,Hilux,2018,Black,Foreign Used,29327.0,2400.0,Imported,Imported,Not Provided,Not Provided
3512,lgsNayfGpQud3KwK7WFnlFj8,14175000,Diesel,Manual,Toyota,Land Cruiser Prado,2010,Black,Nigerian Used,241743.0,3000.0,Registered,Imported,SUV,Not Provided
3549,oB5yshDhIsxFz2zyYaCUu21K,2625000,Diesel,Automatic,Mercedes-Benz,M Class,2002,Silver,Nigerian Used,235760.0,2700.0,Registered,Registered,SUV,Not Provided
3563,oB5yshDhIsxFz2zyYaCUu21K,2625000,Diesel,Automatic,Mercedes-Benz,M Class,2002,Silver,Nigerian Used,235760.0,2700.0,Registered,Registered,SUV,Not Provided

##### Get a list of all car makes that use 'Diesel'

In [238]:
unique_fuel_type_diesel_make = fuel_type_diesel['Make'].unique()

print(unique_fuel_type_diesel_make)

['Lancia' 'Mitsubishi' 'Iveco' 'Ford' 'Hyundai' 'Toyota' 'Volkswagen'
 'Mercedes-Benz']

##### This is to get the number of each vehicle make and model that uses diesel

In [239]:
count_diesel_make = fuel_type_diesel[
    {
        'Make', 
        'Model'
    }
].value_counts()

print(count_diesel_make)

Model               Make
E-350               Ford             2
Hilux               Toyota           2
M Class             Mercedes-Benz    2
Transporter         Volkswagen       2
Canter              Mitsubishi       1
Condor              Toyota           1
Daily               Iveco            1
H1                  Hyundai          1
Land Cruiser Prado  Toyota           1
Thesis              Lancia           1
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3171740383.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count_diesel_make = fuel_type_diesel[

##### This is to filter for only cars that use "Hybrid"

In [240]:
fuel_type_hybrid = naija_cars[naija_cars['Fuel Type'] == 'Hybrid']

In [241]:
#Verify
fuel_type_hybrid

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Registered city
24,BzvzeohSLKA2PjywTtWyVWWa,4725000,Hybrid,Automatic,Lexus,RX 400h,2006,Gray,Nigerian Used,197857.0,3300.0,Registered,Registered,Not Provided,Not Provided
95,zdIt2DF41eAFHcHs71q1wqY1,5670000,Hybrid,Automatic,Lexus,RX 400h,2006,Silver,Nigerian Used,110410.0,3500.0,Registered,Imported,SUV,ABUJA
100,box9ZCTWi9lT9ZbeN8Bptwao,5460000,Hybrid,Automatic,Toyota,Camry,2015,Black,Foreign Used,144806.0,2500.0,Imported,Imported,Not Provided,Not Provided
159,eMx5cK6MCefmPvgV4PHTmen0,4368000,Hybrid,Automatic,Toyota,Camry,2007,Silver,Foreign Used,229969.0,2400.0,Imported,Imported,Sedan,Not Provided
185,kSVGq6E4UqCNuiATtX9v2mg3,6825000,Hybrid,CVT,Toyota,Highlander,2008,Blue,Foreign Used,113950.0,3500.0,Imported,Imported,SUV,Not Provided
206,mFpmruVQoh6FprRNbeQ53EzE,3432000,Hybrid,Automatic,Toyota,Highlander,2006,Gold,Nigerian Used,207678.0,3300.0,Registered,Registered,SUV,Not Provided
280,3PP4B7NW8oaR3G56ZIavZd4s,3675000,Hybrid,CVT,Lexus,RX,2007,Green,Nigerian Used,324544.0,3300.0,Registered,Imported,SUV,LAGOS
336,cWHGtPlNjGp3omd6NR6clFpz,4200000,Hybrid,Automatic,Lexus,RX 400h,2008,Silver,Nigerian Used,252542.0,3300.0,Registered,Imported,SUV,Not Provided
362,u5zYq6UspPgBjveG9UFX11QK,5250000,Hybrid,Automatic,Toyota,Camry,2014,Black,Foreign Used,111375.0,2500.0,Imported,Imported,Sedan,Not Provided
405,ySkIQnPTfE92dEUmZvuaT9qM,3150000,Hybrid,Automatic,Toyota,Prius,2012,Gray,Nigerian Used,116279.0,1800.0,Registered,Imported,Hatchback,LAGOS
456,ySkIQnPTfE92dEUmZvuaT9qM,3150000,Hybrid,Automatic,Toyota,Prius,2012,Gray,Nigerian Used,116279.0,1800.0,Registered,Imported,Hatchback,LAGOS
519,kkGVPpwuXxkVGXBrnUUcX8rR,3150000,Hybrid,CVT,Toyota,Camry,2008,Gray,Nigerian Used,146521.0,2400.0,Registered,Registered,Not Provided,LAGOS
574,kkGVPpwuXxkVGXBrnUUcX8rR,3150000,Hybrid,CVT,Toyota,Camry,2008,Gray,Nigerian Used,146521.0,2400.0,Registered,Registered,Not Provided,LAGOS
949,5vyZbxENuNkAlLR3Oi3xPxgT,2625000,Hybrid,Automatic,Toyota,Camry,2008,Black,Nigerian Used,272638.0,2300.0,Registered,Registered,Not Provided,Not Provided
1270,kH7y2bTEE0vqYZ4IxSZC8ZTS,4784000,Hybrid,Automatic,Toyota,Camry,2009,Gray,Foreign Used,307893.0,2400.0,Imported,Imported,Not Provided,Not Provided
1354,B3XQJetxBICQqcDStp1d0u16,14560000,Hybrid,Automatic,Honda,Accord,2019,Black,Nigerian Used,20670.0,2000.0,Registered,Imported,Not Provided,Not Provided
1417,leUriu0qM9Ap8lS0g2Eil87Q,1470000,Hybrid,Automatic,Honda,Civic,2006,Silver,Nigerian Used,294996.0,2300.0,Registered,Registered,Not Provided,LAGOS
1568,58IGSLLtkJUflshYjnVoXwQF,4700000,Hybrid,Automatic,Toyota,Camry,2014,Gray,Nigerian Used,438644.0,250000.0,Registered,Registered,Not Provided,ABUJA
1763,gfOqXiihCcI6nJFjHH7vr1Bv,5370000,Hybrid,Automatic,Toyota,Camry,2014,Silver,Foreign Used,278474.0,2400.0,Imported,Imported,Not Provided,Not Provided
1778,eYNZrrtBehitl0kKu5HJS0D2,5200000,Hybrid,Automatic,Toyota,Camry,2011,Blue,Foreign Used,120571.0,2400.0,Imported,Imported,Sedan,Not Provided
1823,5j6BjNv6GJ57njgvVEudtmuk,5250000,Hybrid,Automatic,Toyota,Camry,2014,Black,Foreign Used,241964.0,2500.0,Imported,Imported,Not Provided,Not Provided
1916,pertT41TDfkJrQwSvNxZDRdH,5040000,Hybrid,Automatic,Lexus,RX 400h,2006,Silver,Foreign Used,320932.0,3300.0,Imported,Imported,SUV,Not Provided
2014,d6ofBCSu7Seb5qKsTVc3GLsJ,5200000,Hybrid,Automatic,Toyota,Camry,2012,Silver,Nigerian Used,317860.0,2500.0,Registered,Registered,Not Provided,Not Provided
2044,nuk9DfhQi9HzgTMxSWxQtAch,4160000,Hybrid,Automatic,Toyota,Camry,2008,Green,Nigerian Used,108217.0,2400.0,Registered,Imported,Not Provided,Not Provided
2177,avsVDioQjH2uLPQNgivcJBdu,4888000,Hybrid,Automatic,Toyota,Camry,2007,Gold,Foreign Used,297281.0,2400.0,Imported,Imported,Not Provided,Not Provided
2388,aa4SMDAPUwfx04S87Xu1g0Sa,3120000,Hybrid,Automatic,Toyota,Camry,2008,Green,Nigerian Used,177987.0,2400.0,Registered,Registered,Not Provided,Not Provided
2489,aa4SMDAPUwfx04S87Xu1g0Sa,3120000,Hybrid,Automatic,Toyota,Camry,2008,Green,Nigerian Used,177987.0,2400.0,Registered,Registered,Not Provided,Not Provided
2745,hDKh4zH11SwHwQfwSqRrPkxJ,6760000,Hybrid,Automatic,Toyota,Camry,2013,Black,Foreign Used,5017.0,2400.0,Imported,Imported,Sedan,Not Provided
2842,wievIhN5iEOvDT4ZwuAFU2ma,2600000,Hybrid,Automatic,Toyota,Camry,2007,Gold,Nigerian Used,172800.0,2500.0,Registered,Registered,Sedan,Not Provided
2851,pTKkGnXHABhufeFMvX7J8WFq,3150000,Hybrid,Automatic,Lexus,RX 400h,2007,Silver,Nigerian Used,197800.0,3300.0,Registered,Registered,SUV,LAGOS
2857,pTKkGnXHABhufeFMvX7J8WFq,3150000,Hybrid,Automatic,Lexus,RX 400h,2007,Silver,Nigerian Used,197800.0,3300.0,Registered,Registered,SUV,LAGOS
2874,n6FgMBxIJrm2r7m8lRtwz8gy,3150000,Hybrid,Automatic,Lexus,RX 400h,2008,Black,Nigerian Used,143297.0,3300.0,Registered,Imported,SUV,Not Provided
3145,u9ik1dldb6FiDF0yZEA92Mcr,2625000,Hybrid,Automatic,Toyota,Highlander,2006,Gray,Nigerian Used,382110.0,3300.0,Registered,Imported,SUV,Not Provided
3461,uYQtD8bJKX1B6LqWEbvwnAxH,3120000,Hybrid,Automatic,Honda,Civic,2008,Gray,Foreign Used,182880.0,1300.0,Imported,Imported,Not Provided,Not Provided
3557,x5mYIwvA8rKioehPat3j9pzh,3675000,Hybrid,Automatic,Toyota,Camry,2014,Black,Nigerian Used,502952.0,1800.0,Registered,Registered,Sedan,LAGOS
3595,wqJU0Aee0asNrKVkKVDfglKV,2130000,Hybrid,Automatic,Toyota,Camry,2008,Gold,Nigerian Used,131476.0,2400.0,Registered,Registered,Not Provided,Not Provided

##### Get a list of all car makes that use 'Hybrid'

In [242]:
unique_fuel_type_hybrid_make = fuel_type_hybrid['Make'].unique()

print(unique_fuel_type_hybrid_make)

['Lexus' 'Toyota' 'Honda']

##### This is to get the number of each vehicle make and model that uses hybrid

In [243]:
count_hybrid_make = fuel_type_hybrid[
    {
        'Make', 
        'Model'
    }
].value_counts()

print(count_hybrid_make)

Model       Make
Camry       Toyota    20
RX 400h     Lexus      7
Highlander  Toyota     3
Civic       Honda      2
Prius       Toyota     2
Accord      Honda      1
RX          Lexus      1
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3629088495.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count_hybrid_make = fuel_type_hybrid[

##### This is to filter for only cars that use "Electric"

In [244]:
fuel_type_electric = naija_cars[naija_cars['Fuel Type'] == 'Electric']

In [245]:
#Verify
fuel_type_electric

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Registered city
241,5XWJfMorjmlK62gDRfWgcVmh,5932000,Electric,Automatic,Toyota,Corolla,2016,Silver,Nigerian Used,58667.0,1800.0,Registered,Imported,Not Provided,Not Provided

##### This is to get the number of each vehicle make and model that uses electric

In [246]:
count_electric_make = fuel_type_electric[
    {
        'Make', 
        'Model'
    }
].value_counts()

print(count_electric_make)

Model    Make
Corolla  Toyota    1
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\1370147779.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count_electric_make = fuel_type_electric[

In [247]:
naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3713 entries, 0 to 3721
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Car ID               3713 non-null   object
 1   Price                3713 non-null   int64
 2   Fuel Type            3713 non-null   object
 3   Gear Type            3713 non-null   object
 4   Make                 3713 non-null   object
 5   Model                3713 non-null   object
 6   Year of manufacture  3713 non-null   int64
 7   Colour               3713 non-null   object
 8   Condition            3713 non-null   object
 9   Mileage              3713 non-null   float64
 10  Engine Size          3713 non-null   float64
 11  Selling Condition    3713 non-null   object
 12  Bought Condition     3713 non-null   object
 13  Car                  3713 non-null   object
 14  Registered city      3713 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 464.1+ KB

### For Gear Type

Here, I aim at providing insights on the following:
- The ratio of automatic, manual and CVT vehicles.
- The make of vehicles with the highest and lowest number of automatic, manual and CVT vehicles in the dataset
- The registered city that has the most and least automatic, manual and CVT cars.

#### Ratio of the different Gear Types

Here, it shows that Automatic vehicles are more in the dataset with 3479

In [248]:
Gear_type = Counter(naija_cars['Gear Type'])

print(Gear_type)

Counter({'Automatic': 3479, 'Manual': 200, 'CVT': 32, 'Not Provided': 2})

In [249]:
Counter(naija_cars['Gear Type'])

Counter({'Automatic': 3479, 'Manual': 200, 'CVT': 32, 'Not Provided': 2})

#### Vehicles that use Automatic, Manual and CVT

Here, I aim to find the highest and lowest number of cars in each of these gear types.

##### This is to filter for only cars that use "Automatic" gear type

In [250]:
gear_type_automatic = naija_cars[naija_cars['Gear Type'] == 'Automatic']

print(gear_type_automatic)

                        Car ID    Price Fuel Type  Gear Type           Make  \
0     icwAaDOmX573WiRRnLFPT237  2812500    Petrol  Automatic         Toyota
1     ByZ3NlPy2x0arAIyrKazClUS  5000000    Petrol  Automatic          Acura
2     2zG6Mh3kwyoTvWoeKHkV1oFH  7592000    Petrol  Automatic          Acura
3     7APLHOPlI93qsYK0ST4D4wB2  9880000    Petrol  Automatic     Land Rover
4      zIrIDPJLd46eRQf9JFacc0e  4160000    Petrol  Automatic           Ford
...                        ...      ...       ...        ...            ...
3717  C4Ly76wwazrtbYRAWkTnv2Q5  1924000    Petrol  Automatic         Toyota
3718  jPA7XlJJxdwpZStlurumw59q  1890000    Petrol  Automatic  Mercedes-Benz
3719  g5szhuHeXu2djH1Z2be22G7E  1155000    Petrol  Automatic         Toyota
3720  mdZMNQK7Zez0cSS67Q9Quhzr  1260000    Petrol  Automatic         Toyota
3721  fSUvulLwnXYlc1muFsrjrsAR  1872000    Petrol  Automatic          Honda

            Model  Year of manufacture  Colour      Condition   Mileage  \
0         Corolla                 2004  Silver  Nigerian Used  251732.0
1             MDX                 2007   Green   Foreign Used  224589.0
2              TL                 2012   White   Foreign Used  111334.0
3     Range Rover                 2012    Gray  Nigerian Used   72682.0
4            Edge                 2013    Gray  Nigerian Used   92118.0
...           ...                  ...     ...            ...       ...
3717         RAV4                 2003     Red  Nigerian Used  282769.0
3718      M Class                 2002  Silver  Nigerian Used  182544.0
3719        Camry                 2000   Black  Nigerian Used  234354.0
3720         RAV4                 2001   Black  Nigerian Used  345926.0
3721        Civic                 2007   Black  Nigerian Used   90330.0

      Engine Size Selling Condition Bought Condition           Car  \
0          1800.0        Registered       Registered  Not Provided
1          3700.0          Imported         Imported           SUV
2          3500.0          Imported         Imported         Sedan
3          4000.0        Registered         Imported           SUV
4          3500.0        Registered       Registered           SUV
...           ...               ...              ...           ...
3717       2000.0        Registered         Imported           SUV
3718       3200.0        Registered       Registered           SUV
3719       2200.0        Registered       Registered         Sedan
3720       2000.0        Registered       Registered           SUV
3721       1800.0        Registered       Registered  Not Provided

     Registered city
0       Not Provided
1       Not Provided
2       Not Provided
3       Not Provided
4              LAGOS
...              ...
3717         PLATEAU
3718    Not Provided
3719          RIVERS
3720    Not Provided
3721    Not Provided

[3479 rows x 15 columns]

##### This is to get the number of each vehicle make and model that uses automatic gear type

In [251]:
count_automatic_gear_type = gear_type_automatic[
    {
        'Make',
        'Model',
        'Year of manufacture'
    }
].value_counts()

print(count_automatic_gear_type.head(20))

Model    Year of manufacture  Make
Camry    2007                 Toyota    99
         2009                 Toyota    52
Corolla  2010                 Toyota    50
Camry    2012                 Toyota    49
Corolla  2009                 Toyota    49
Camry    2011                 Toyota    42
         2008                 Toyota    42
Corolla  2004                 Toyota    41
Accord   2008                 Honda     40
Camry    2010                 Toyota    39
         2005                 Toyota    38
Corolla  2006                 Toyota    38
         2005                 Toyota    37
         2008                 Toyota    34
         2003                 Toyota    28
Camry    2002                 Toyota    27
         2003                 Toyota    26
Corolla  2007                 Toyota    25
ES       2007                 Lexus     25
Camry    2004                 Toyota    23
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\958930095.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count_automatic_gear_type = gear_type_automatic[

##### This is to filter for only cars that use "Mnaual" gear type

In [252]:
gear_type_manual = naija_cars[naija_cars['Gear Type'] == 'Manual']

print(gear_type_manual)

                        Car ID    Price Fuel Type Gear Type        Make  \
14    aa8nq9ZiuiVXOMzlxJvdOPUK  3990000    Diesel    Manual      Lancia
51    1K63Licze875g8i1fj53b6Gu  6300000    Petrol    Manual      Toyota
64    uJP6DFml83zB3qnkPYQUZhqv  5250000    Petrol    Manual     Hyundai
72    5czUputP1RHEgLGuCjntdtBQ  8984000    Petrol    Manual      Toyota
157   sKQAqpJ4bfMLCJQqumhQF6sf  5250000    Petrol    Manual      Toyota
...                        ...      ...       ...       ...         ...
3680  rNY2ef9xuQ3k1wgPbfD0AaUr  1155000    Petrol    Manual  Volkswagen
3688  pOrWfzM9aCgdfRBu9LmHPj5O  1575000    Petrol    Manual     Hyundai
3695  oGQF1I4eKs2qAWgAP4e1iPG4  1522500    Petrol    Manual     Hyundai
3696  pOrWfzM9aCgdfRBu9LmHPj5O  1575000    Petrol    Manual     Hyundai
3697  iUiRoEwv8zsxP5tnmKiWlwQs  1270000    Petrol    Manual  Volkswagen

                   Model  Year of manufacture  Colour      Condition  \
14                Thesis                 2007   White   Foreign Used
51                 Hilux                 2012   White  Nigerian Used
64                    H1                 2016   White  Nigerian Used
72                 Hilux                 2014   White  Nigerian Used
157   Land Cruiser Prado                 2008   Black  Nigerian Used
...                  ...                  ...     ...            ...
3680              Passat                 1998  Purple  Nigerian Used
3688              Accent                 2012   Black  Nigerian Used
3695             Elantra                 2007    Blue  Nigerian Used
3696              Accent                 2012   Black  Nigerian Used
3697              Passat                 1997   Green   Foreign Used

       Mileage  Engine Size Selling Condition Bought Condition           Car  \
14    214524.0       2800.0          Imported         Imported  Not Provided
51    189367.0       2700.0        Registered       Registered  Not Provided
64     76961.0       2400.0        Registered       Registered           Bus
72     82115.0       2700.0        Registered       Registered         Truck
157   192365.0       2700.0        Registered        Brand new           SUV
...        ...          ...               ...              ...           ...
3680  201514.0       1800.0        Registered       Registered  Not Provided
3688  176119.0       1800.0        Registered        Brand new  Not Provided
3695  198762.0       2000.0        Registered       Registered         Sedan
3696  176119.0       1800.0        Registered        Brand new  Not Provided
3697  268383.0       2000.0          Imported         Imported  Not Provided

     Registered city
14      Not Provided
51      Not Provided
64      Not Provided
72             LAGOS
157            LAGOS
...              ...
3680    Not Provided
3688    Not Provided
3695           LAGOS
3696    Not Provided
3697    Not Provided

[200 rows x 15 columns]

##### This is to get the number of each vehicle make and model that uses manual gear type

In [253]:
count_manual_gear_type = gear_type_manual[
    {
        'Make',
        'Model',
        'Year of manufacture'
    }
].value_counts()

print(count_manual_gear_type)

Model          Year of manufacture  Make
Hilux          2014                 Toyota        4
307            2008                 Peugeot       4
Corolla        2008                 Toyota        4
407            2005                 Peugeot       4
Corolla        2010                 Toyota        4
                                                 ..
Corolla Verso  2002                 Toyota        1
Corolla        2012                 Toyota        1
               2000                 Toyota        1
Condor         2005                 Toyota        1
Golf           1997                 Volkswagen    1
Length: 140, dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\832366784.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count_manual_gear_type = gear_type_manual[

##### This is to filter for only cars that use "CVT" gear type

In [254]:
gear_type_CVT = naija_cars[naija_cars['Gear Type'] == 'CVT']

print(gear_type_CVT)

                        Car ID    Price Fuel Type Gear Type        Make  \
118   s4d8VC44VpXroXYz4lKXtpLn  7350000    Petrol       CVT      Toyota
185   kSVGq6E4UqCNuiATtX9v2mg3  6825000    Hybrid       CVT      Toyota
280   3PP4B7NW8oaR3G56ZIavZd4s  3675000    Hybrid       CVT       Lexus
292   mZOf7T6JANdRHlpq9pHWLgMq  4515000    Petrol       CVT      Toyota
453   aqOWN8T2zw6ExCWfxMcQ8sVl  6825000    Petrol       CVT      Toyota
489   aqOWN8T2zw6ExCWfxMcQ8sVl  6825000    Petrol       CVT      Toyota
519   kkGVPpwuXxkVGXBrnUUcX8rR  3150000    Hybrid       CVT      Toyota
524   eSugjlvTF0WushdLZBvkF6k5  4095000    Petrol       CVT      Nissan
574   kkGVPpwuXxkVGXBrnUUcX8rR  3150000    Hybrid       CVT      Toyota
586    IGQgSKeXPJsJoTD2TLPzvEu  5250000    Petrol       CVT      Nissan
608    IGQgSKeXPJsJoTD2TLPzvEu  5250000    Petrol       CVT      Nissan
617   xoeAIfwM4rIUQehv7mLT9rJz  3150000    Petrol       CVT      Nissan
747   a51FJciCf9qMW7OIx5Icowf4  3150000    Petrol       CVT      Toyota
767   43Xwe7ViUGo4MQflavcDnMmH  2940000    Petrol       CVT      Nissan
795   qeHkuaCZBxhGuGJ3eSyoAJD6  4305000    Petrol       CVT      Toyota
840   qeHkuaCZBxhGuGJ3eSyoAJD6  4305000    Petrol       CVT      Toyota
861   puMRvHRttCoEZAYOblq7uVu1  2730000    Petrol       CVT       Lexus
883   7ue4d3eZzZyd7aMI9YB1ei3S  2835000    Petrol       CVT      Nissan
913   7ue4d3eZzZyd7aMI9YB1ei3S  2835000    Petrol       CVT      Nissan
1100  jTlDEeNt5uokTdGda6mHLNKu  4200000    Petrol       CVT       Honda
2296  kC0lMaOnjVoQAx8PcoZUnzuA  6090000    Petrol       CVT      Nissan
2349  3X46qhUS2gadogChJexJWfD7  6300000    Petrol       CVT       Honda
2592  vaOcwW7ADMVcca5ehObRu1Bo  3675000    Petrol       CVT      Nissan
2758  dZczkcEX0rG5mjpeIdqeEVcx  3675000    Petrol       CVT      Nissan
2985  jUPRASk6RWRRnh2HPbWSFXty  1680000    Petrol       CVT      Nissan
3298  k0Ro7csRjuuZA5bbjtN8aS9F  1890000    Petrol       CVT      Nissan
3317  k0Ro7csRjuuZA5bbjtN8aS9F  1890000    Petrol       CVT      Nissan
3359  whh8poo73ZEJxioyGGUVGjEM  2782500    Petrol       CVT       Honda
3368  xuME8FMBKArs4KP0nIDe3knS  2340000    Petrol       CVT      Nissan
3369  xdPMfz0Zvara8fKjjDQQhWDJ  1575000    Petrol       CVT  Volkswagen
3381  xuME8FMBKArs4KP0nIDe3knS  2340000    Petrol       CVT      Nissan
3661  wP6TgWEOQflK6zb0c8jKfUvb  3990000    Petrol       CVT      Nissan

           Model  Year of manufacture    Colour      Condition   Mileage  \
118      Corolla                 2015    Silver  Nigerian Used   67407.0
185   Highlander                 2008      Blue   Foreign Used  113950.0
280           RX                 2007     Green  Nigerian Used  324544.0
292      Corolla                 2014     Black  Nigerian Used   40948.0
453        Camry                 2012       Red   Foreign Used  332677.0
489        Camry                 2012       Red   Foreign Used  332677.0
519        Camry                 2008      Gray  Nigerian Used  146521.0
524       Maxima                 2010    Silver   Foreign Used  179048.0
574        Camry                 2008      Gray  Nigerian Used  146521.0
586   Pathfinder                 2013     Black  Nigerian Used  112373.0
608   Pathfinder                 2013     Black  Nigerian Used  112373.0
617       Altima                 2015    Silver  Nigerian Used  124394.0
747       Avalon                 2011     Black  Nigerian Used   92836.0
767       Altima                 2010     White   Foreign Used  488539.0
795        Camry                 2011      Gray  Nigerian Used  184560.0
840        Camry                 2011      Gray  Nigerian Used  184560.0
861           GS                 2005      Gray  Nigerian Used  121334.0
883       Maxima                 2012     White  Nigerian Used  222525.0
913       Maxima                 2012     White  Nigerian Used  222525.0
1100      Accord                 2013  Burgandy  Nigerian Used  144222.0
2296  Pathfinder                 2013      Gray  Nigerian Used   88222.0
2349      Accord                 2013     Black   Foreign Used  274052.0
2592      Murano                 2009      Blue  Nigerian Used  272779.0
2758      Altima                 2013     Black  Nigerian Used  211534.0
2985      Sentra                 2008      Blue  Nigerian Used  210640.0
3298      Murano                 2011       Red  Nigerian Used  102760.0
3317      Murano                 2011       Red  Nigerian Used  102760.0
3359        Jazz                 2005    Orange   Foreign Used  157639.0
3368     Qashqai                 2013      Gray  Nigerian Used  103527.0
3369      Passat                 2006      Blue  Nigerian Used  223854.0
3381     Qashqai                 2013      Gray  Nigerian Used  103527.0
3661        Juke                 2011     Black  Nigerian Used  107485.0

      Engine Size Selling Condition Bought Condition           Car  \
118        1800.0        Registered         Imported         Sedan
185        3500.0          Imported         Imported           SUV
280        3300.0        Registered         Imported           SUV
292        1800.0        Registered       Registered  Not Provided
453        2800.0          Imported         Imported  Not Provided
489        2800.0          Imported         Imported  Not Provided
519        2400.0        Registered       Registered  Not Provided
524        3500.0          Imported         Imported         Sedan
574        2400.0        Registered       Registered  Not Provided
586        3500.0        Registered         Imported           SUV
608        3500.0        Registered         Imported           SUV
617        2500.0        Registered       Registered         Sedan
747        3500.0        Registered         Imported  Not Provided
767        2500.0          Imported         Imported  Not Provided
795        2500.0        Registered         Imported  Not Provided
840        2500.0        Registered         Imported  Not Provided
861        3000.0        Registered       Registered  Not Provided
883        3500.0        Registered         Imported         Sedan
913        3500.0        Registered         Imported         Sedan
1100       2400.0        Registered         Imported  Not Provided
2296       3500.0        Registered       Registered           SUV
2349       2000.0          Imported         Imported  Not Provided
2592       3500.0        Registered         Imported           SUV
2758       2500.0        Registered         Imported         Sedan
2985       2000.0        Registered       Registered  Not Provided
3298       3500.0        Registered       Registered           SUV
3317       3500.0        Registered       Registered           SUV
3359       1400.0          Imported         Imported  Not Provided
3368       2000.0        Registered       Registered           SUV
3369       2000.0        Registered         Imported  Not Provided
3381       2000.0        Registered       Registered           SUV
3661       1600.0        Registered         Imported           SUV

     Registered city
118              EDO
185     Not Provided
280            LAGOS
292     Not Provided
453     Not Provided
489     Not Provided
519            LAGOS
524     Not Provided
574            LAGOS
586            LAGOS
608            LAGOS
617            LAGOS
747     Not Provided
767     Not Provided
795     Not Provided
840     Not Provided
861     Not Provided
883     Not Provided
913     Not Provided
1100           LAGOS
2296    Not Provided
2349    Not Provided
2592          RIVERS
2758           LAGOS
2985           LAGOS
3298    Not Provided
3317    Not Provided
3359    Not Provided
3368           LAGOS
3369    Not Provided
3381           LAGOS
3661           LAGOS

##### This is to get the number of each vehicle make and model that uses CVT gear type

In [255]:
count_CVT_gear_type = gear_type_CVT[
    {
        'Make',
        'Model',
        'Year of manufacture'
    }
].value_counts()

print(count_CVT_gear_type)

Model       Year of manufacture  Make
Pathfinder  2013                 Nissan        3
Accord      2013                 Honda         2
Qashqai     2013                 Nissan        2
Camry       2008                 Toyota        2
            2011                 Toyota        2
            2012                 Toyota        2
Murano      2011                 Nissan        2
Maxima      2012                 Nissan        2
Juke        2011                 Nissan        1
RX          2007                 Lexus         1
Passat      2006                 Volkswagen    1
Murano      2009                 Nissan        1
Maxima      2010                 Nissan        1
Highlander  2008                 Toyota        1
Jazz        2005                 Honda         1
Altima      2010                 Nissan        1
GS          2005                 Lexus         1
Corolla     2015                 Toyota        1
            2014                 Toyota        1
Avalon      2011                 Toyota        1
Altima      2015                 Nissan        1
            2013                 Nissan        1
Sentra      2008                 Nissan        1
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\679690718.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count_CVT_gear_type = gear_type_CVT[

In [256]:
naija_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3713 entries, 0 to 3721
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Car ID               3713 non-null   object
 1   Price                3713 non-null   int64
 2   Fuel Type            3713 non-null   object
 3   Gear Type            3713 non-null   object
 4   Make                 3713 non-null   object
 5   Model                3713 non-null   object
 6   Year of manufacture  3713 non-null   int64
 7   Colour               3713 non-null   object
 8   Condition            3713 non-null   object
 9   Mileage              3713 non-null   float64
 10  Engine Size          3713 non-null   float64
 11  Selling Condition    3713 non-null   object
 12  Bought Condition     3713 non-null   object
 13  Car                  3713 non-null   object
 14  Registered city      3713 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 464.1+ KB

In [257]:
naija_cars.head(10)

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,Not Provided,Not Provided
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,Not Provided
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,Not Provided
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,Not Provided
4,zIrIDPJLd46eRQf9JFacc0e,4160000,Petrol,Automatic,Ford,Edge,2013,Gray,Nigerian Used,92118.0,3500.0,Registered,Registered,SUV,LAGOS
5,cXCDdlfYhkTgnpxVlSqsiBWz,5250000,Petrol,Automatic,Acura,ZDX,2010,White,Nigerian Used,93991.0,3700.0,Registered,Imported,SUV,LAGOS
6,3Lh1di00mSJudNaHWxOrn1L2,16640000,Petrol,Automatic,Lexus,GX,2011,Red,Nigerian Used,122987.0,4800.0,Registered,Registered,SUV,ABUJA
7,7ytxLUCMQ5bWIly5x5EOrMdG,7980000,Petrol,Automatic,Lexus,GS,2013,Gray,Nigerian Used,94469.0,3500.0,Registered,Registered,Sedan,Not Provided
8,fYxBktHsYw4js3ZgJnHwl2zU,3885000,Petrol,Automatic,Toyota,Camry,2007,Gold,Foreign Used,159726.0,3000.0,Imported,Imported,Not Provided,Not Provided
9,oGK8lzkToaZZz9BklAkx1ull,13000000,Petrol,Automatic,Mercedes-Benz,GLK-Class,2015,White,Foreign Used,138202.0,3500.0,Imported,Imported,SUV,Not Provided

### Most popular car brands

This analysis aims at revealing the most popular car brands in Nigeria based on the frequency of occurrence in the dataset.

**For Car Make**

In [341]:
for_most_popular_make = naija_cars[
    {
        'Make',
        'Model',
        #'Year of manufacture',
        #'Price'
    }
].value_counts()

pd.set_option('display.max_rows', None)

print(for_most_popular_make.sort_values( ascending = False, inplace=True))

None

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3402251616.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  for_most_popular_make = naija_cars[

**This shows the 20 most popular car make based on the number of of individuals that own them**

In [343]:
for_most_popular_make

Model               Price     Make
Camry               4680000   Toyota           29
                    3120000   Toyota           27
                    2080000   Toyota           23
Corolla             3640000   Toyota           23
Camry               2625000   Toyota           23
Corolla             2100000   Toyota           19
Camry               2912000   Toyota           17
Corolla             2600000   Toyota           16
Camry               3328000   Toyota           16
                    2600000   Toyota           16
Corolla             2625000   Toyota           15
Camry               3640000   Toyota           14
                    3432000   Toyota           13
Accord              1260000   Honda            13
ES                  4160000   Lexus            12
Accord              2600000   Honda            12
Corolla             2205000   Toyota           12
                    3120000   Toyota           11
                    3328000   Toyota           11
ES                  3640000   Lexus            10
Corolla             2496000   Toyota           10
Camry               2704000   Toyota           10
Corolla             2808000   Toyota           10
                    2392000   Toyota           10
Camry               4200000   Toyota           10
                    1872000   Toyota            9
                    5200000   Toyota            9
Corolla             2288000   Toyota            9
Camry               2415000   Toyota            9
Corolla             2310000   Toyota            9
RAV4                3640000   Toyota            9
Camry               2808000   Toyota            9
                    3952000   Toyota            8
ES                  5200000   Lexus             8
Accord              2100000   Honda             8
Civic               2080000   Honda             8
Camry               4410000   Toyota            8
Edge                3640000   Ford              8
Avalon              2600000   Toyota            7
Camry               2100000   Toyota            7
Corolla             2300000   Toyota            7
Accord              1890000   Honda             7
Corolla             2940000   Toyota            7
Sienna              3120000   Toyota            7
Corolla             2730000   Toyota            7
Sienna              2600000   Toyota            7
Avalon              2310000   Toyota            7
Accord              2392000   Honda             7
Camry               3016000   Toyota            6
                    2730000   Toyota            6
                    3536000   Toyota            6
ES                  2600000   Lexus             6
Accord              2288000   Honda             6
Camry               6825000   Toyota            6
Corolla             3150000   Toyota            6
                    2912000   Toyota            6
Camry               1560000   Toyota            6
                    4992000   Toyota            6
Corolla             4992000   Toyota            6
Highlander          5720000   Toyota            6
Corolla             3675000   Toyota            6
Camry               4784000   Toyota            6
Accord              2496000   Honda             6
Avalon              2100000   Toyota            6
Camry               5250000   Toyota            5
Matrix              1890000   Toyota            5
Camry               1456000   Toyota            5
ES                  6240000   Lexus             5
Camry               3150000   Toyota            5
                    3224000   Toyota            5
Corolla             1995000   Toyota            5
                    1785000   Toyota            5
Pilot               2600000   Honda             5
Edge                3744000   Ford              5
Camry               3848000   Toyota            5
                    1768000   Toyota            5
Highlander          2912000   Toyota            5
Camry               1785000   Toyota            5
Pilot               5200000   Honda             5
Camry               1352000   Toyota            5
Accord              1050000   Honda             5
Venza               5250000   Toyota            5
Corolla             3744000   Toyota            5
                    2520000   Toyota            5
Matrix              2600000   Toyota            5
ES                  3952000   Lexus             5
Venza               6032000   Toyota            5
RAV4                2625000   Toyota            5
GL-Class            4680000   Mercedes-Benz     5
RAV4                2835000   Toyota            5
Accord              2080000   Honda             5
Corolla             3536000   Toyota            5
RAV4                5200000   Toyota            5
                    4680000   Toyota            5
Sienna              4160000   Toyota            5
Accord              1768000   Honda             5
Corolla             1680000   Toyota            4
RX 350              4680000   Lexus             4
Camry               1155000   Toyota            4
Corolla             3016000   Toyota            4
Highlander          5000000   Toyota            4
Corolla             2415000   Toyota            4
Civic               1575000   Honda             4
Highlander          3120000   Toyota            4
Accord              1664000   Honda             4
Cerato              1785000   Kia               4
Camry               1248000   Toyota            4
Highlander          8320000   Toyota            4
Sienna              1560000   Toyota            4
                    1785000   Toyota            4
Camry               7280000   Toyota            4
Sienna              2912000   Toyota            4
Camry               1680000   Toyota            4
Venza               5720000   Toyota            4
6                   1575000   Mazda             4
MDX                 3952000   Acura             4
Camry               6760000   Toyota            4
                    6300000   Toyota            4
ES                  2912000   Lexus             4
Edge                3120000   Ford              4
Camry               2288000   Toyota            4
Rio                 1575000   Kia               4
C300                3675000   Mercedes-Benz     4
Accord              1575000   Honda             4
M Class             14560000  Mercedes-Benz     4
C300                6760000   Mercedes-Benz     4
Accord              4680000   Honda             4
Corolla             3432000   Toyota            4
C300                4680000   Mercedes-Benz     4
Pilot               2080000   Honda             4
CR-V                2600000   Honda             4
Corolla             3952000   Toyota            4
                    3848000   Toyota            4
Camry               5062500   Toyota            4
MDX                 1872000   Acura             4
Corolla             5250000   Toyota            4
Accord              1560000   Honda             4
Camry               4472000   Toyota            4
                    3885000   Toyota            4
ES                  2100000   Lexus             4
Sonata              3360000   Hyundai           4
Corolla             5200000   Toyota            4
                    4888000   Toyota            4
                    4160000   Toyota            4
IS                  3150000   Lexus             3
CLA-Class           11250000  Mercedes-Benz     3
Highlander          2415000   Toyota            3
                    2310000   Toyota            3
                    4200000   Toyota            3
                    3640000   Toyota            3
A4                  3675000   Audi              3
IS                  3640000   Lexus             3
328i                3150000   BMW               3
Camry               3744000   Toyota            3
Corolla             2704000   Toyota            3
RX 300              2288000   Lexus             3
Sienna              2625000   Toyota            3
CLA-Class           7350000   Mercedes-Benz     3
Elantra             4200000   Hyundai           3
Corolla             2835000   Toyota            3
                    2887500   Toyota            3
Sienna              3640000   Toyota            3
C300                14560000  Mercedes-Benz     3
Corolla             3224000   Toyota            3
RX 300              2600000   Lexus             3
Sienna              4368000   Toyota            3
Highlander          4725000   Toyota            3
Corolla             3712500   Toyota            3
Highlander          7280000   Toyota            3
M Class             11550000  Mercedes-Benz     3
Highlander          2625000   Toyota            3
Accord              4200000   Honda             3
C300                3375000   Mercedes-Benz     3
M Class             4160000   Mercedes-Benz     3
Highlander          6240000   Toyota            3
Tucson              5775000   Hyundai           3
MDX                 5200000   Acura             3
Pathfinder          5250000   Nissan            3
MDX                 2730000   Acura             3
Versa               1575000   Nissan            3
Accord              2704000   Honda             3
Golf                1785000   Volkswagen        3
Pilot               3640000   Honda             3
Venza               7875000   Toyota            3
                    6300000   Toyota            3
GX                  5200000   Lexus             3
Accord              3150000   Honda             3
3 Series            2835000   BMW               3
Matrix              2100000   Toyota            3
IS                  4200000   Lexus             3
                    4680000   Lexus             3
MDX                 4160000   Acura             3
M Class             6240000   Mercedes-Benz     3
                    6032000   Mercedes-Benz     3
Passat              2625000   Volkswagen        3
C300                3640000   Mercedes-Benz     3
Matrix              3536000   Toyota            3
Corolla             4725000   Toyota            3
Avensis             1976000   Toyota            3
Corolla             2080000   Toyota            3
                    2184000   Toyota            3
CR-V                2100000   Honda             3
Camry               6090000   Toyota            3
Sonata              4992000   Hyundai           3
GLK-Class           9880000   Mercedes-Benz     3
ES                  5720000   Lexus             3
Edge                2310000   Ford              3
ES                  6300000   Lexus             3
Altima              1575000   Nissan            3
RAV4                3675000   Toyota            3
Edge                7280000   Ford              3
RX 350              6760000   Lexus             3
ES                  5408000   Lexus             3
Edge                14560000  Ford              3
RAV4                4160000   Toyota            3
ES                  4830000   Lexus             3
Pilot               5250000   Honda             3
E350                8840000   Mercedes-Benz     3
Tacoma              3150000   Toyota            3
ES                  2205000   Lexus             3
                    4680000   Lexus             3
RAV4                1976000   Toyota            3
Corolla             5096000   Toyota            3
                    1890000   Toyota            3
ES                  3848000   Lexus             3
CX-9                4725000   Mazda             3
Camry               4368000   Toyota            3
RX 400h             3150000   Lexus             3
Sonata              2100000   Hyundai           3
RX                  2100000   Lexus             3
Sonata              3432000   Hyundai           3
Sienna              2415000   Toyota            3
Corolla             2400000   Toyota            3
Sienna              1575000   Toyota            3
RX 350              4160000   Lexus             3
Camry               3570000   Toyota            3
RX                  3952000   Lexus             3
Camry               2940000   Toyota            3
                    3675000   Toyota            3
                    4515000   Toyota            3
                    1890000   Toyota            3
Santa Fe            3120000   Hyundai           3
Camry               1664000   Toyota            3
                    5880000   Toyota            3
Sonata              3640000   Hyundai           3
Camry               1575000   Toyota            3
                    1924000   Toyota            3
                    2310000   Toyota            3
                    2520000   Toyota            3
                    4576000   Toyota            3
Venza               5824000   Toyota            2
Sonata              4784000   Hyundai           2
Vento               630000    Volkswagen        2
A4                  1050000   Audi              2
Avensis Verso       3990000   Toyota            2
Sonata              4410000   Hyundai           2
Berlingo            2100000   Citroen           2
607                 1260000   Peugeot           2
Venza               5355000   Toyota            2
Sonata              4160000   Hyundai           2
                    3952000   Hyundai           2
                    3885000   Hyundai           2
Solara              4095000   Toyota            2
C-Class             4620000   Mercedes-Benz     2
Sonata              6825000   Hyundai           2
C-Class             5040000   Mercedes-Benz     2
Venza               6968000   Toyota            2
C180                2625000   Mercedes-Benz     2
Venza               7350000   Toyota            2
525i                4200000   BMW               2
Venza               8840000   Toyota            2
                    9048000   Toyota            2
5                   3360000   Mazda             2
C230                1365000   Mercedes-Benz     2
                    1575000   Mercedes-Benz     2
Sienna              8840000   Toyota            2
Sonata              6240000   Hyundai           2
C300                3885000   Mercedes-Benz     2
Sienna              8632000   Toyota            2
                    8008000   Toyota            2
C300                3848000   Mercedes-Benz     2
407                 2700000   Peugeot           2
Sienna              5200000   Toyota            2
C300                4160000   Mercedes-Benz     2
Sienna              5096000   Toyota            2
                    4992000   Toyota            2
406                 1660000   Peugeot           2
Sienna              3990000   Toyota            2
C300                7800000   Mercedes-Benz     2
W123                1890000   Mercedes-Benz     2
Sienna              3952000   Toyota            2
Wrangler            12600000  Jeep              2
X-Trail             2625000   Nissan            2
Sienna              2392000   Toyota            2
                    2250000   Toyota            2
4-Runner            6448000   Toyota            2
CLS                 2835000   Mercedes-Benz     2
X5                  2625000   BMW               2
Sienna              1680000   Toyota            2
                    1456000   Toyota            2
CR-V                2520000   Honda             2
4-Runner            2415000   Toyota            2
Sequoia             3150000   Toyota            2
4-Runner            2310000   Toyota            2
C250                5230000   Mercedes-Benz     2
Venza               10125000  Toyota            2
Duster              1785000   Renault           2
Vibe                2600000   Pontiac           2
Corolla             4095000   Toyota            2
                    4472000   Toyota            2
Pajero              3150000   Mitsubishi        2
Outlander           2100000   Mitsubishi        2
RL                  2940000   Acura             2
Outlander           1785000   Mitsubishi        2
Corolla Altis       3885000   Toyota            2
RX                  2246000   Lexus             2
Corolla             9135000   Toyota            2
GL-Class            4050000   Mercedes-Benz     2
Outlander           2310000   Mitsubishi        2
RAV4                6510000   Toyota            2
Corolla             4200000   Toyota            2
                    3255000   Toyota            2
Vibe                2625000   Pontiac           2
GS                  5062500   Lexus             2
Montero             3675000   Mitsubishi        2
GS                  5250000   Lexus             2
RX 300              4200000   Lexus             2
Mohave              4200000   Kia               2
GS                  8400000   Lexus             2
GX                  4200000   Lexus             2
Maxima              3150000   Nissan            2
                    2835000   Nissan            2
GX                  6240000   Lexus             2
                    6760000   Lexus             2
Pilot               3848000   Honda             2
Crossfire           1687500   Chrysler          2
Crosstour           3150000   Honda             2
                    6300000   Honda             2
Discovery           33600000  Land Rover        2
Venza               6240000   Toyota            2
RX 350              6300000   Lexus             2
ES                  4725000   Lexus             2
GL-Class            4516000   Mercedes-Benz     2
RX                  4264000   Lexus             2
                    4680000   Lexus             2
Corolla             5824000   Toyota            2
                    5720000   Toyota            2
                    5512000   Toyota            2
GL-Class            5720000   Mercedes-Benz     2
Optima              2572500   Kia               2
Corolla             5040000   Toyota            2
RX                  6240000   Lexus             2
GL-Class            6760000   Mercedes-Benz     2
                    8320000   Mercedes-Benz     2
Corolla             4784000   Toyota            2
Optima              2257500   Kia               2
Corolla             4680000   Toyota            2
                    6240000   Toyota            2
                    6300000   Toyota            2
                    6760000   Toyota            2
                    8840000   Toyota            2
E-350               4830000   Ford              2
C280                2100000   Mercedes-Benz     2
Durango             13250000  Dodge             2
Sienna              6032000   Toyota            2
Accord              6300000   Honda             2
C250                5775000   Mercedes-Benz     2
Camry               1260000   Toyota            2
4-Runner            1768000   Toyota            2
200                 3150000   Chrysler          2
Camry               2812500   Toyota            2
Rogue               3045000   Nissan            2
S-Class             7245000   Mercedes-Benz     2
3 Series            4830000   BMW               2
Santa Fe            4368000   Hyundai           2
Camry               2816000   Toyota            2
Rio                 4992000   Kia               2
Santa Fe            2415000   Hyundai           2
307                 2940000   Peugeot           2
CX-9                3885000   Mazda             2
Cadenza             8975000   Kia               2
Vibe                3744000   Pontiac           2
Camry               1050000   Toyota            2
Accord              3120000   Honda             2
CR-V                3432000   Honda             2
Altima              3675000   Nissan            2
Accord              1456000   Honda             2
Altima              3952000   Nissan            2
Accord              1404000   Honda             2
Armada              3150000   Nissan            2
Accord              1365000   Honda             2
Astra               2625000   Opel              2
Accord              1360000   Honda             2
Sportage            2100000   Kia               2
CX-7                1365000   Mazda             2
Sedona              5040000   Kia               2
Camry               2496000   Toyota            2
                    2775000   Toyota            2
Matrix              4680000   Toyota            2

**For Car Model**

In [260]:
for_most_popular_model = naija_cars[
    {
        'Make',
        'Model'
    }
].value_counts()

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\1174158572.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  for_most_popular_model = naija_cars[

**This shows the 20 most popular car models based on the number of of individuals that own them**

In [344]:
for_most_popular_model

Model               Make
Camry               Toyota           548
Corolla             Toyota           405
Accord              Honda            178
Highlander          Toyota           139
ES                  Lexus            115
Sienna              Toyota           103
RAV4                Toyota            90
Edge                Ford              77
RX 350              Lexus             70
M Class             Mercedes-Benz     53
Pilot               Honda             53
Venza               Toyota            50
MDX                 Acura             50
C300                Mercedes-Benz     48
Sonata              Hyundai           47
Avalon              Toyota            47
Matrix              Toyota            44
IS                  Lexus             41
CR-V                Honda             38
Civic               Honda             37
Elantra             Hyundai           33
GL-Class            Mercedes-Benz     33
RX                  Lexus             31
E350                Mercedes-Benz     28
Santa Fe            Hyundai           27
4-Runner            Toyota            27
GS                  Lexus             25
GX                  Lexus             24
RX 300              Lexus             24
Passat              Volkswagen        23
Odyssey             Honda             22
GLK-Class           Mercedes-Benz     21
Avensis             Toyota            21
Explorer            Ford              20
Rio                 Kia               20
Altima              Nissan            19
Escape              Ford              17
Tacoma              Toyota            16
CX-9                Mazda             16
Pathfinder          Nissan            16
Hilux               Toyota            15
Golf                Volkswagen        15
TL                  Acura             14
Vibe                Pontiac           14
Almera              Nissan            14
Outlander           Mitsubishi        13
406                 Peugeot           13
307                 Peugeot           13
Cerato              Kia               13
CLA-Class           Mercedes-Benz     13
407                 Peugeot           13
FX35                Infiniti          12
Range Rover Sport   Land Rover        12
Range Rover         Land Rover        12
328i                BMW               12
Ix35                Hyundai           11
Sentra              Nissan            11
C230                Mercedes-Benz     11
A4                  Audi              11
Land Cruiser Prado  Toyota            11
Yaris               Toyota            11
Tucson              Hyundai           11
Accent              Hyundai           11
Qashqai             Nissan            10
Sorento             Kia               10
Tundra              Toyota            10
6                   Mazda             10
Optima              Kia               10
C-Class             Mercedes-Benz     10
F-150               Ford              10
Sequoia             Toyota             9
Accord Crosstour    Honda              9
Focus               Ford               9
Land Cruiser        Toyota             9
CX-7                Mazda              9
Maxima              Nissan             9
Tiguan              Volkswagen         9
X5                  BMW                8
XC90                Volvo              8
3 Series            BMW                8
Pajero              Mitsubishi         8
Ridgeline           Honda              8
Sportage            Kia                8
5                   Mazda              7
City                Honda              7
RX 400h             Lexus              7
3                   Mazda              7
Jetta               Volkswagen         7
Soul                Kia                6
Lr3                 Land Rover         6
C250                Mercedes-Benz      6
Solara              Toyota             6
C180                Mercedes-Benz      6
Rogue               Nissan             6
HiAce               Toyota             6
S-Class             Mercedes-Benz      6
Xterra              Nissan             6
Murano              Nissan             6
R-Class             Mercedes-Benz      5
RDX                 Acura              5
C240                Mercedes-Benz      5
Crosstour           Honda              5
Mustang             Ford               5
Cooper              Mini               5
Fortuner            Toyota             5
LS                  Lexus              5
C350                Mercedes-Benz      5
Fusion              Ford               4
Genesis             Hyundai            4
Prius               Toyota             4
FJ Cruiser          Toyota             4
Primera             Nissan             4
Equinox             Chevrolet          4
Forte               Kia                4
FX                  Infiniti           4
CLS                 Mercedes-Benz      4
Quest               Nissan             4
X3                  BMW                4
Wrangler            Jeep               4
L200                Mitsubishi         4
Versa               Nissan             4
Range Rover Evoque  Land Rover         4
Armada              Nissan             4
Transporter         Volkswagen         4
Town&Country        Chrysler           4
Torrent             Pontiac            4
Titan               Nissan             4
Zafira              Opel               4
Camaro              Chevrolet          4
Sedona              Kia                4
Ranger              Ford               4
206                 Peugeot            4
GLE-Class           Mercedes-Benz      3
Journey             Dodge              3
MPV                 Mazda              3
LX                  Lexus              3
Mohave              Kia                3
GLA-Class           Mercedes-Benz      3
Lr4                 Land Rover         3
Caravan             Dodge              3
RL                  Acura              3
TSX                 Acura              3
Sunny               Nissan             3
528i                BMW                3
C200                Mercedes-Benz      3
525i                BMW                3
Caliber             Dodge              3
Picnic              Toyota             3
X-Trail             Nissan             3
Cayenne             Porsche            3
Corolla Verso       Toyota             3
408                 Peugeot            3
Duster              Renault            3
E320                Mercedes-Benz      3
E550                Mercedes-Benz      3
QX56                Infiniti           3
QX4                 Infiniti           3
Escalade            Cadillac           3
Q7                  Audi               3
X6                  BMW                3
Previa              Toyota             3
G-Class             Mercedes-Benz      3
ZDX                 Acura              3
Vento               Volkswagen         2
X-Type              Jaguar             2
W123                Mercedes-Benz      2
Vue                 Saturn             2
Picanto             Kia                2
Micra               Nissan             2
Veloster            Hyundai            2
Montero             Mitsubishi         2
Sharan              Volkswagen         2
NX                  Lexus              2
Sebring             Chrysler           2
RX 330              Lexus              2
Q50                 Infiniti           2
Patrol              Nissan             2
JX                  Infiniti           2
xB                  Scion              2
Carina E            Toyota             2
A7                  Audi               2
H1                  Hyundai            2
C220                Mercedes-Benz      2
Golf Variant        Volkswagen         2
A-Class             Mercedes-Benz      2
Corolla Altis       Toyota             2
Galaxy              Ford               2
Crossfire           Chrysler           2
GLA 250             Mercedes-Benz      2
Berlingo            Citroen            2
G35                 Infiniti           2
I10                 Hyundai            2
Discovery           Land Rover         2
Durango             Dodge              2
Freelander          Land Rover         2
Astra               Opel               2
Avalanche           Chevrolet          2
E-350               Ford               2
Expedition          Ford               2
Avanza              Toyota             2
Avensis Verso       Toyota             2
607                 Peugeot            2
Grand Cherokee      Jeep               2
ILX                 Acura              2
325i                BMW                2
Liberty             Jeep               2
Legacy              Subaru             2
Challenger          Dodge              2
Land                Rover              2
200                 Chrysler           2
Cadenza             Kia                2
308                 Peugeot            2
CC                  Volkswagen         2
E300                Mercedes-Benz      2
C320                Mercedes-Benz      2
Compass             Jeep               2
C280                Mercedes-Benz      2
530i                BMW                2
535i                BMW                2
Bora                Volkswagen         1
Stream              Honda              1
Teana               Nissan             1
Taurus              Ford               1
Terrain             GMC                1
Spacestar           Mitsubishi         1
Serena              Nissan             1
Borrego             Kia                1
C4                  Citroen            1
CL                  Mercedes-Benz      1
Azera               Hyundai            1
Sport Trac          Ford               1
Solstice            Pontiac            1
C43                 Mercedes-Benz      1
Logan               Dacia              1
Thesis              Lancia             1
Tiida               Nissan             1
tC                  Scion              1
230E                Mercedes-Benz      1
Yukon               GMC                1
300C                Chrysler           1
XJ                  Jaguar             1
320i                BMW                1
323i                BMW                1
5 Series            BMW                1
508                 Peugeot            1
523i                BMW                1
550i                BMW                1
Vitara              Suzuki             1
Viano               Mercedes-Benz      1
7 Series            BMW                1
Veracruz            Hyundai            1
807                 Peugeot            1
A6                  Audi               1
Vectra              Opel               1
Vamos               Honda              1
Uplander            Chevrolet          1
Canter              Mitsubishi         1
Tribute             Mazda              1
Tribeca             Subaru             1
Touareg             Volkswagen         1
Avenger             Dodge              1
Acadia              GMC                1
Commander           Jeep               1
Carens              Kia                1
Polo                Volkswagen         1
Pick-Up             Nissan             1
GLC-Class           Mercedes-Benz      1
GLS-Class           Mercedes-Benz      1
Panamera            Porsche            1
Pajero IO           Mitsubishi         1
Grand Caravan       Dodge              1
Outback             Subaru             1
Optra               Chevrolet          1
Navigator           Lincoln            1
Navara              Nissan             1
J4                  JAC                1
Mountaineer         Mercury            1
130i                BMW                1
Jazz                Honda              1
Minica              Mitsubishi         1
Millenia            Mazda              1
Juke                Nissan             1
K5                  Kia                1
Kyron               SsangYong          1
Mariner             Mercury            1
Malibu              Chevrolet          1
MX-3                Mazda              1
Laguna              Renault            1
MKX                 Lincoln            1
MGF                 Rover              1
Lancer              Mitsubishi         1
M                   Infiniti           1
GA5                 GAC                1
Premacy             Mazda              1
SRX                 Cadillac           1
Frontier            Nissan             1
SLK-Class           Mercedes-Benz      1
S80                 Volvo              1
S-Coupe             Hyundai            1
Charger             Dodge              1
Routan              Volkswagen         1
Cherokee            Jeep               1
Citi                Volkswagen         1
Lr2                 Land Rover         1
Rendezvous          Buick              1
Range Rover Vogue   Land Rover         1
Range Rover Velar   Land Rover         1
Condor              Toyota             1
Continental         Bentley            1
Creta               Hyundai            1
Daily               Iveco              1
Dakota              Dodge              1
RC                  Lexus              1
E200                Mercedes-Benz      1
EX                  Infiniti           1
Ecosport            Ford               1
QX80                Infiniti           1
QX60                Infiniti           1
Element             Honda              1
Endeavor            Mitsubishi         1
FR-V                Honda              1
Q5                  Audi               1
Flex                Ford               1
116i                BMW                1
dtype: int64

### Least popular car brands

This analysis aims at revealing the least popular car brands in Nigeria based on the frequency of occurrence in the dataset.

In [262]:
for_least_popular_make = naija_cars[
    {
        'Make',
        'Model'
    }
].value_counts()

print(for_least_popular_make.sort_values( ascending = True, inplace=True))

None

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\1021389580.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  for_least_popular_make = naija_cars[

#### This shows the 20 least popular cars based on the number of of individuals that own them

In [263]:
for_least_popular_make.head(30)

Model      Make
116i       BMW              1
Vitara     Suzuki           1
Viano      Mercedes-Benz    1
7 Series   BMW              1
Veracruz   Hyundai          1
807        Peugeot          1
A6         Audi             1
Vectra     Opel             1
Vamos      Honda            1
Uplander   Chevrolet        1
Canter     Mitsubishi       1
550i       BMW              1
Tribute    Mazda            1
Touareg    Volkswagen       1
Avenger    Dodge            1
Acadia     GMC              1
Commander  Jeep             1
Carens     Kia              1
Polo       Volkswagen       1
Pick-Up    Nissan           1
GLC-Class  Mercedes-Benz    1
GLS-Class  Mercedes-Benz    1
Panamera   Porsche          1
Tribeca    Subaru           1
523i       BMW              1
508        Peugeot          1
5 Series   BMW              1
Bora       Volkswagen       1
Stream     Honda            1
Teana      Nissan           1
dtype: int64

### Body Type Trends and Car Make

This analysis shows the trends in car make and body type in Nigeria over time. 

It can reveal which car brands and body types are becoming more popular and which are losing their popularity.

In [264]:
unique_car_body_type = naija_cars['Car'].unique()

print(unique_car_body_type)

['Not Provided' 'SUV' 'Sedan' 'Truck' 'Crossover' 'Van' 'Bus' 'Coupe'
 'Hatchback' 'Minivan' 'Pickup' 'Convertible' 'Station Wagon'
 'Pick-up Double Cabin' 'MUV' 'Saloon']

#### Number of vehicles present in each category of car body type

In [265]:
naija_cars['Car'].value_counts()

Not Provided            1952
SUV                     1137
Sedan                    383
Truck                     44
Hatchback                 42
Minivan                   35
Coupe                     33
Crossover                 23
Bus                       15
Van                       12
Pickup                     9
Station Wagon              8
Convertible                6
Saloon                     6
MUV                        5
Pick-up Double Cabin       3
Name: Car, dtype: int64

##### For SUVS

In [266]:
car_suv = naija_cars[naija_cars['Car'] == 'SUV']

print(car_suv)

                        Car ID     Price Fuel Type  Gear Type           Make  \
1     ByZ3NlPy2x0arAIyrKazClUS   5000000    Petrol  Automatic          Acura
3     7APLHOPlI93qsYK0ST4D4wB2   9880000    Petrol  Automatic     Land Rover
4      zIrIDPJLd46eRQf9JFacc0e   4160000    Petrol  Automatic           Ford
5     cXCDdlfYhkTgnpxVlSqsiBWz   5250000    Petrol  Automatic          Acura
6     3Lh1di00mSJudNaHWxOrn1L2  16640000    Petrol  Automatic          Lexus
...                        ...       ...       ...        ...            ...
3708  zXmEzjImIELlVgTXh3kstPbT   2100000    Petrol  Automatic            Kia
3713  wPxnfFvxyLtzDhgkrLudZ9UH   3848000    Petrol  Automatic            Kia
3717  C4Ly76wwazrtbYRAWkTnv2Q5   1924000    Petrol  Automatic         Toyota
3718  jPA7XlJJxdwpZStlurumw59q   1890000    Petrol  Automatic  Mercedes-Benz
3720  mdZMNQK7Zez0cSS67Q9Quhzr   1260000    Petrol  Automatic         Toyota

            Model  Year of manufacture  Colour      Condition   Mileage  \
1             MDX                 2007   Green   Foreign Used  224589.0
3     Range Rover                 2012    Gray  Nigerian Used   72682.0
4            Edge                 2013    Gray  Nigerian Used   92118.0
5             ZDX                 2010   White  Nigerian Used   93991.0
6              GX                 2011     Red  Nigerian Used  122987.0
...           ...                  ...     ...            ...       ...
3708     Sportage                 2005     Red  Nigerian Used  175968.0
3713     Sportage                 2013    Gray  Nigerian Used   34336.0
3717         RAV4                 2003     Red  Nigerian Used  282769.0
3718      M Class                 2002  Silver  Nigerian Used  182544.0
3720         RAV4                 2001   Black  Nigerian Used  345926.0

      Engine Size Selling Condition Bought Condition  Car Registered city
1          3700.0          Imported         Imported  SUV    Not Provided
3          4000.0        Registered         Imported  SUV    Not Provided
4          3500.0        Registered       Registered  SUV           LAGOS
5          3700.0        Registered         Imported  SUV           LAGOS
6          4800.0        Registered       Registered  SUV           ABUJA
...           ...               ...              ...  ...             ...
3708       2700.0        Registered         Imported  SUV    Not Provided
3713       2000.0        Registered       Registered  SUV           LAGOS
3717       2000.0        Registered         Imported  SUV         PLATEAU
3718       3200.0        Registered       Registered  SUV    Not Provided
3720       2000.0        Registered       Registered  SUV    Not Provided

[1137 rows x 15 columns]

In [267]:
car_suv[
    {
        'Car',
        'Make',
        'Model',
        'Year of manufacture'
    }
].value_counts()

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3162250114.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  car_suv[

Model       Car  Year of manufacture  Make
Highlander  SUV  2008                 Toyota           21
Venza       SUV  2010                 Toyota           16
RAV4        SUV  2008                 Toyota           16
GL-Class    SUV  2007                 Mercedes-Benz    13
RX 350      SUV  2007                 Lexus            13
                                                       ..
MDX         SUV  2005                 Acura             1
                 2006                 Acura             1
                 2010                 Acura             1
                 2011                 Acura             1
Zafira      SUV  2002                 Opel              1
Length: 435, dtype: int64

In [268]:
car_suv[
    {
        'Car',
        'Make'

    }
].value_counts()

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3003730818.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  car_suv[

Car  Make
SUV  Toyota           331
     Lexus            151
     Mercedes-Benz    113
     Ford             103
     Honda             94
     Nissan            48
     Acura             46
     Hyundai           44
     Land Rover        41
     Mazda             23
     Mitsubishi        22
     Infiniti          21
     Kia               19
     BMW               14
     Jeep              10
     Volvo              7
     Volkswagen         7
     Dodge              6
     Pontiac            4
     Cadillac           4
     Audi               3
     Chevrolet          3
     Porsche            3
     Renault            3
     GMC                3
     Lincoln            2
     Chrysler           2
     Mercury            2
     Opel               2
     Saturn             2
     Buick              1
     Rover              1
     Subaru             1
     GAC                1
dtype: int64

##### For Sedan Vehicles

In [269]:
car_sedan = naija_cars[naija_cars['Car'] == 'Sedan']

print(car_sedan)

                        Car ID     Price Fuel Type  Gear Type        Make  \
2     2zG6Mh3kwyoTvWoeKHkV1oFH   7592000    Petrol  Automatic       Acura
7     7ytxLUCMQ5bWIly5x5EOrMdG   7980000    Petrol  Automatic       Lexus
17    uzW7BZeKaIdBbBdrjCFG4hto  13520000    Petrol  Automatic      Toyota
30    CzA8eoAXw33mrIRa6aozRCG7   4576000    Petrol  Automatic      Toyota
39    wtFHr0JNVp2vJpOGzDwHsf8B  10080000    Petrol  Automatic       Lexus
...                        ...       ...       ...        ...         ...
3666  dcNJZ22G6Hw5pwtD1NpR3BlW   2205000    Petrol  Automatic     Hyundai
3672  CypE2IwZhS6oBIqgNez2PMRH   1785000    Petrol  Automatic  Volkswagen
3695  oGQF1I4eKs2qAWgAP4e1iPG4   1522500    Petrol     Manual     Hyundai
3710  58YCyUCEzwn1f3ej2S5N9DoA   2080000    Petrol  Automatic       Honda
3719  g5szhuHeXu2djH1Z2be22G7E   1155000    Petrol  Automatic      Toyota

        Model  Year of manufacture  Colour      Condition   Mileage  \
2          TL                 2012   White   Foreign Used  111334.0
7          GS                 2013    Gray  Nigerian Used   94469.0
17      Camry                 2018   Black  Nigerian Used   68871.0
30      Camry                 2012     Red  Nigerian Used  300082.0
39         ES                 2014   Black   Foreign Used  172741.0
...       ...                  ...     ...            ...       ...
3666   Accent                 2012    Gray  Nigerian Used  222309.0
3672    Jetta                 2007    Gray  Nigerian Used  128288.0
3695  Elantra                 2007    Blue  Nigerian Used  198762.0
3710    Civic                 2008  Orange  Nigerian Used   86394.0
3719    Camry                 2000   Black  Nigerian Used  234354.0

      Engine Size Selling Condition Bought Condition    Car Registered city
2          3500.0          Imported         Imported  Sedan    Not Provided
7          3500.0        Registered       Registered  Sedan    Not Provided
17         3500.0        Registered         Imported  Sedan           ABUJA
30         2500.0        Registered         Imported  Sedan           LAGOS
39         3500.0          Imported         Imported  Sedan    Not Provided
...           ...               ...              ...    ...             ...
3666       1600.0        Registered        Brand new  Sedan           LAGOS
3672       2500.0        Registered       Registered  Sedan    Not Provided
3695       2000.0        Registered       Registered  Sedan           LAGOS
3710       1800.0        Registered         Imported  Sedan    Not Provided
3719       2200.0        Registered       Registered  Sedan          RIVERS

[383 rows x 15 columns]

In [270]:
car_sedan[
    {
        'Make',
        'Car',
        'Model',
        'Year of manufacture'
    }
].value_counts()

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\3668630357.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  car_sedan[

Model    Car    Year of manufacture  Make
Camry    Sedan  2007                 Toyota    19
                2012                 Toyota    18
                2009                 Toyota    14
Corolla  Sedan  2004                 Toyota    12
ES       Sedan  2007                 Lexus     12
                                               ..
Civic    Sedan  2012                 Honda      1
                2008                 Honda      1
                2000                 Honda      1
Charger  Sedan  2016                 Dodge      1
XJ       Sedan  2013                 Jaguar     1
Length: 136, dtype: int64

In [271]:
naija_cars.head(4)

,Car ID,Price,Fuel Type,Gear Type,Make,Model,Year of manufacture,Colour,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,Car,Registered city
0,icwAaDOmX573WiRRnLFPT237,2812500,Petrol,Automatic,Toyota,Corolla,2004,Silver,Nigerian Used,251732.0,1800.0,Registered,Registered,Not Provided,Not Provided
1,ByZ3NlPy2x0arAIyrKazClUS,5000000,Petrol,Automatic,Acura,MDX,2007,Green,Foreign Used,224589.0,3700.0,Imported,Imported,SUV,Not Provided
2,2zG6Mh3kwyoTvWoeKHkV1oFH,7592000,Petrol,Automatic,Acura,TL,2012,White,Foreign Used,111334.0,3500.0,Imported,Imported,Sedan,Not Provided
3,7APLHOPlI93qsYK0ST4D4wB2,9880000,Petrol,Automatic,Land Rover,Range Rover,2012,Gray,Nigerian Used,72682.0,4000.0,Registered,Imported,SUV,Not Provided

####

### Car Condition

##### Create a statement to provide the unique values in the "Condition Column"

In [272]:
unique_car_condition = naija_cars['Condition'].unique()

print(unique_car_condition)

['Nigerian Used' 'Foreign Used' 'Brand New']

##### Get the number of vehicles present in each car condition

In [273]:
naija_cars['Condition'].value_counts()

Nigerian Used    2805
Foreign Used      906
Brand New           2
Name: Condition, dtype: int64

##### Get the most common vehicles in each car condition

**For Nigerian Used Vehicles**

In [299]:
condition_nigerian_used = naija_cars[naija_cars['Condition'] == 'Nigerian Used']

print(condition_nigerian_used)

                        Car ID     Price Fuel Type  Gear Type           Make  \
0     icwAaDOmX573WiRRnLFPT237   2812500    Petrol  Automatic         Toyota
3     7APLHOPlI93qsYK0ST4D4wB2   9880000    Petrol  Automatic     Land Rover
4      zIrIDPJLd46eRQf9JFacc0e   4160000    Petrol  Automatic           Ford
5     cXCDdlfYhkTgnpxVlSqsiBWz   5250000    Petrol  Automatic          Acura
6     3Lh1di00mSJudNaHWxOrn1L2  16640000    Petrol  Automatic          Lexus
...                        ...       ...       ...        ...            ...
3717  C4Ly76wwazrtbYRAWkTnv2Q5   1924000    Petrol  Automatic         Toyota
3718  jPA7XlJJxdwpZStlurumw59q   1890000    Petrol  Automatic  Mercedes-Benz
3719  g5szhuHeXu2djH1Z2be22G7E   1155000    Petrol  Automatic         Toyota
3720  mdZMNQK7Zez0cSS67Q9Quhzr   1260000    Petrol  Automatic         Toyota
3721  fSUvulLwnXYlc1muFsrjrsAR   1872000    Petrol  Automatic          Honda

            Model  Year of manufacture  Colour      Condition   Mileage  \
0         Corolla                 2004  Silver  Nigerian Used  251732.0
3     Range Rover                 2012    Gray  Nigerian Used   72682.0
4            Edge                 2013    Gray  Nigerian Used   92118.0
5             ZDX                 2010   White  Nigerian Used   93991.0
6              GX                 2011     Red  Nigerian Used  122987.0
...           ...                  ...     ...            ...       ...
3717         RAV4                 2003     Red  Nigerian Used  282769.0
3718      M Class                 2002  Silver  Nigerian Used  182544.0
3719        Camry                 2000   Black  Nigerian Used  234354.0
3720         RAV4                 2001   Black  Nigerian Used  345926.0
3721        Civic                 2007   Black  Nigerian Used   90330.0

      Engine Size Selling Condition Bought Condition           Car  \
0          1800.0        Registered       Registered  Not Provided
3          4000.0        Registered         Imported           SUV
4          3500.0        Registered       Registered           SUV
5          3700.0        Registered         Imported           SUV
6          4800.0        Registered       Registered           SUV
...           ...               ...              ...           ...
3717       2000.0        Registered         Imported           SUV
3718       3200.0        Registered       Registered           SUV
3719       2200.0        Registered       Registered         Sedan
3720       2000.0        Registered       Registered           SUV
3721       1800.0        Registered       Registered  Not Provided

     Registered city
0       Not Provided
3       Not Provided
4              LAGOS
5              LAGOS
6              ABUJA
...              ...
3717         PLATEAU
3718    Not Provided
3719          RIVERS
3720    Not Provided
3721    Not Provided

[2805 rows x 15 columns]

In [335]:
nigerian_used = condition_nigerian_used[
    {
        'Make',
        'Model',
        #'Year of manufacture'
        #'Registered city'
    }
].value_counts()

# To display all rows
pd.set_option('display.max_rows', None)

print(nigerian_used)

#nigerian_used_df = nigerian_used.to_frame()
#print(nigerian_used_df.head(len(nigerian_used_df)))

Model               Make
Camry               Toyota           408
Corolla             Toyota           318
Accord              Honda            165
Highlander          Toyota           102
ES                  Lexus             78
RAV4                Toyota            75
Sienna              Toyota            67
Edge                Ford              60
Avalon              Toyota            42
RX 350              Lexus             39
M Class             Mercedes-Benz     37
MDX                 Acura             35
Venza               Toyota            35
Civic               Honda             34
Matrix              Toyota            33
Pilot               Honda             33
CR-V                Honda             33
Sonata              Hyundai           32
GL-Class            Mercedes-Benz     30
IS                  Lexus             30
C300                Mercedes-Benz     29
Elantra             Hyundai           28
4-Runner            Toyota            26
RX                  Lexus             22
GX                  Lexus             22
GS                  Lexus             21
Santa Fe            Hyundai           21
E350                Mercedes-Benz     21
Rio                 Kia               20
Passat              Volkswagen        18
Avensis             Toyota            18
RX 300              Lexus             17
Pathfinder          Nissan            16
Hilux               Toyota            14
Explorer            Ford              14
Altima              Nissan            14
Outlander           Mitsubishi        13
Almera              Nissan            13
Tacoma              Toyota            13
406                 Peugeot           13
Cerato              Kia               13
Odyssey             Honda             12
Escape              Ford              12
Land Cruiser Prado  Toyota            11
Accent              Hyundai           11
Ix35                Hyundai           11
407                 Peugeot           11
C230                Mercedes-Benz     11
Range Rover         Land Rover        10
Qashqai             Nissan            10
Golf                Volkswagen        10
Optima              Kia               10
328i                BMW               10
GLK-Class           Mercedes-Benz     10
TL                  Acura             10
Tundra              Toyota             9
FX35                Infiniti           9
Sequoia             Toyota             9
CLA-Class           Mercedes-Benz      8
307                 Peugeot            8
Accord Crosstour    Honda              8
C-Class             Mercedes-Benz      8
A4                  Audi               8
F-150               Ford               8
X5                  BMW                8
Sentra              Nissan             8
Land Cruiser        Toyota             8
Sorento             Kia                8
Pajero              Mitsubishi         7
6                   Mazda              7
City                Honda              7
XC90                Volvo              7
CX-7                Mazda              7
Xterra              Nissan             6
RX 400h             Lexus              6
Tucson              Hyundai            6
Yaris               Toyota             6
Murano              Nissan             6
Sportage            Kia                6
Range Rover Sport   Land Rover         6
Maxima              Nissan             6
C250                Mercedes-Benz      6
5                   Mazda              6
CX-9                Mazda              6
Vibe                Pontiac            6
Ridgeline           Honda              6
Lr3                 Land Rover         6
Solara              Toyota             5
C350                Mercedes-Benz      5
Fortuner            Toyota             5
Soul                Kia                5
C240                Mercedes-Benz      5
Tiguan              Volkswagen         5
L200                Mitsubishi         4
Prius               Toyota             4
Genesis             Hyundai            4
S-Class             Mercedes-Benz      4
FX                  Infiniti           4
R-Class             Mercedes-Benz      4
Jetta               Volkswagen         4
FJ Cruiser          Toyota             4
Cooper              Mini               4
Equinox             Chevrolet          4
Titan               Nissan             4
3 Series            BMW                4
Wrangler            Jeep               4
Torrent             Pontiac            4
Transporter         Volkswagen         4
CLS                 Mercedes-Benz      4
Ranger              Ford               3
HiAce               Toyota             3
Picnic              Toyota             3
528i                BMW                3
X3                  BMW                3
Cayenne             Porsche            3
Caliber             Dodge              3
Mustang             Ford               3
Armada              Nissan             3
408                 Peugeot            3
Versa               Nissan             3
Lr4                 Land Rover         3
Mohave              Kia                3
Rogue               Nissan             3
C200                Mercedes-Benz      3
Range Rover Evoque  Land Rover         3
Escalade            Cadillac           3
Primera             Nissan             3
Sunny               Nissan             3
RL                  Acura              3
206                 Peugeot            3
ZDX                 Acura              3
Fusion              Ford               3
TSX                 Acura              3
QX56                Infiniti           3
GLA-Class           Mercedes-Benz      3
QX4                 Infiniti           3
Town&Country        Chrysler           3
GLE-Class           Mercedes-Benz      3
Duster              Renault            3
Q7                  Audi               3
607                 Peugeot            2
Q50                 Infiniti           2
W123                Mercedes-Benz      2
Micra               Nissan             2
X6                  BMW                2
RDX                 Acura              2
C180                Mercedes-Benz      2
Zafira              Opel               2
Montero             Mitsubishi         2
Avanza              Toyota             2
A-Class             Mercedes-Benz      2
Picanto             Kia                2
Patrol              Nissan             2
530i                BMW                2
325i                BMW                2
X-Trail             Nissan             2
A7                  Audi               2
Vue                 Saturn             2
C280                Mercedes-Benz      2
Camaro              Chevrolet          2
Cadenza             Kia                2
I10                 Hyundai            2
Golf Variant        Volkswagen         2
Crossfire           Chrysler           2
Crosstour           Honda              2
Galaxy              Ford               2
Challenger          Dodge              2
Carina E            Toyota             2
E320                Mercedes-Benz      2
Vento               Volkswagen         2
H1                  Hyundai            2
Corolla Verso       Toyota             2
Freelander          Land Rover         2
Forte               Kia                2
C220                Mercedes-Benz      2
MPV                 Mazda              2
Touareg             Volkswagen         1
Taurus              Ford               1
Teana               Nissan             1
RX 330              Lexus              1
Yukon               GMC                1
Terrain             GMC                1
Tiida               Nissan             1
Stream              Honda              1
S80                 Volvo              1
Vectra              Opel               1
Uplander            Chevrolet          1
Vamos               Honda              1
SRX                 Cadillac           1
Sport Trac          Ford               1
Veloster            Hyundai            1
Range Rover Velar   Land Rover         1
Range Rover Vogue   Land Rover         1
Rendezvous          Buick              1
Sharan              Volkswagen         1
Serena              Nissan             1
Viano               Mercedes-Benz      1
Vitara              Suzuki             1
Sedona              Kia                1
Sebring             Chrysler           1
Routan              Volkswagen         1
116i                BMW                1
Juke                Nissan             1
RC                  Lexus              1
Quest               Nissan             1
Caravan             Dodge              1
Cherokee            Jeep               1
Citi                Volkswagen         1
Commander           Jeep               1
Condor              Toyota             1
Continental         Bentley            1
Creta               Hyundai            1
E200                Mercedes-Benz      1
E300                Mercedes-Benz      1
E550                Mercedes-Benz      1
EX                  Infiniti           1
Ecosport            Ford               1
Endeavor            Mitsubishi         1
Expedition          Ford               1
Flex                Ford               1
Canter              Mitsubishi         1
CL                  Mercedes-Benz      1
CC                  Volkswagen         1
508                 Peugeot            1
230E                Mercedes-Benz      1
3                   Mazda              1
300C                Chrysler           1
308                 Peugeot            1
320i                BMW                1
5 Series            BMW                1
525i                BMW                1
C43                 Mercedes-Benz      1
535i                BMW                1
550i                BMW                1
Avalanche           Chevrolet          1
Bora                Volkswagen         1
Borrego             Kia                1
C320                Mercedes-Benz      1
Focus               Ford               1
Frontier            Nissan             1
G35                 Infiniti           1
Navara              Nissan             1
Malibu              Chevrolet          1
Mariner             Mercury            1
Millenia            Mazda              1
Minica              Mitsubishi         1
Mountaineer         Mercury            1
NX                  Lexus              1
Navigator           Lincoln            1
MKX                 Lincoln            1
Optra               Chevrolet          1
Pajero IO           Mitsubishi         1
Pick-Up             Nissan             1
Polo                Volkswagen         1
Premacy             Mazda              1
Q5                  Audi               1
MX-3                Mazda              1
MGF                 Rover              1
GA5                 GAC                1
130i                BMW                1
GLC-Class           Mercedes-Benz      1
GLS-Class           Mercedes-Benz      1
Grand Caravan       Dodge              1
ILX                 Acura              1
J4                  JAC                1
Journey             Dodge              1
Kyron               SsangYong          1
M                   Infiniti           1
LX                  Lexus              1
Laguna              Renault            1
Legacy              Subaru             1
Liberty             Jeep               1
Logan               Dacia              1
Lr2                 Land Rover         1
tC                  Scion              1
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\534109781.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  nigerian_used = condition_nigerian_used[

**For Foreign Used Vehicles**

In [276]:
condition_foreign_used = naija_cars[naija_cars['Condition'] == 'Foreign Used']

print(condition_foreign_used)

                        Car ID     Price Fuel Type  Gear Type           Make  \
1     ByZ3NlPy2x0arAIyrKazClUS   5000000    Petrol  Automatic          Acura
2     2zG6Mh3kwyoTvWoeKHkV1oFH   7592000    Petrol  Automatic          Acura
8     fYxBktHsYw4js3ZgJnHwl2zU   3885000    Petrol  Automatic         Toyota
9     oGK8lzkToaZZz9BklAkx1ull  13000000    Petrol  Automatic  Mercedes-Benz
11    8Zxki4qLpwloj8iR2vPf2DIU  14560000    Petrol  Automatic  Mercedes-Benz
...                        ...       ...       ...        ...            ...
3690  b7k6XMqUeGcIFRXFatvrEYmM   3675000    Petrol  Automatic         Toyota
3692  CdGEo0i0Y8nSwxTU4dbrkiZX   2415000    Petrol  Automatic  Mercedes-Benz
3697  iUiRoEwv8zsxP5tnmKiWlwQs   1270000    Petrol     Manual     Volkswagen
3698  b7k6XMqUeGcIFRXFatvrEYmM   3675000    Petrol  Automatic         Toyota
3704  yXJHinXZ31cNc1PSj7GJJIi9   2100000    Petrol  Automatic         Toyota

          Model  Year of manufacture Colour     Condition   Mileage  \
1           MDX                 2007  Green  Foreign Used  224589.0
2            TL                 2012  White  Foreign Used  111334.0
8         Camry                 2007   Gold  Foreign Used  159726.0
9     GLK-Class                 2015  White  Foreign Used  138202.0
11      M Class                 2012   Blue  Foreign Used  329589.0
...         ...                  ...    ...           ...       ...
3690      Camry                 2013  Black  Foreign Used   94173.0
3692    M Class                 2003  Black  Foreign Used  330928.0
3697     Passat                 1997  Green  Foreign Used  268383.0
3698      Camry                 2013  Black  Foreign Used   94173.0
3704      Yaris                 2007   Gray  Foreign Used  114165.0

      Engine Size Selling Condition Bought Condition           Car  \
1          3700.0          Imported         Imported           SUV
2          3500.0          Imported         Imported         Sedan
8          3000.0          Imported         Imported  Not Provided
9          3500.0          Imported         Imported           SUV
11         3500.0          Imported         Imported           SUV
...           ...               ...              ...           ...
3690       2400.0          Imported         Imported  Not Provided
3692       5000.0          Imported         Imported           SUV
3697       2000.0          Imported         Imported  Not Provided
3698       2400.0          Imported         Imported  Not Provided
3704       1800.0          Imported         Imported  Not Provided

     Registered city
1       Not Provided
2       Not Provided
8       Not Provided
9       Not Provided
11      Not Provided
...              ...
3690    Not Provided
3692    Not Provided
3697    Not Provided
3698    Not Provided
3704    Not Provided

[906 rows x 15 columns]

In [337]:
foreign_used = condition_foreign_used[
    {
        'Make',
        'Model',
        'Year of manufacture',
    }
].value_counts()

pd.set_option('display.max_rows', None)

print(foreign_used)

Model               Year of manufacture  Make
Camry               2012                 Toyota           19
                    2011                 Toyota           18
                    2010                 Toyota           18
                    2007                 Toyota           17
                    2009                 Toyota           14
Corolla             2010                 Toyota           13
Camry               2005                 Toyota           11
Corolla             2007                 Toyota           10
                    2009                 Toyota            9
Camry               2008                 Toyota            9
Corolla             2005                 Toyota            8
Camry               2014                 Toyota            8
ES                  2007                 Lexus             8
Venza               2010                 Toyota            7
Corolla             2011                 Toyota            7
                    2006                 Toyota            7
                    2013                 Toyota            7
Sienna              2007                 Toyota            7
Camry               2013                 Toyota            6
Corolla             2008                 Toyota            6
ES                  2005                 Lexus             6
Sonata              2011                 Hyundai           6
Camry               2015                 Toyota            5
Sienna              2012                 Toyota            5
                    2006                 Toyota            5
                    2008                 Toyota            5
Pilot               2009                 Honda             5
Highlander          2008                 Toyota            5
Matrix              2009                 Toyota            5
C300                2009                 Mercedes-Benz     5
ES                  2011                 Lexus             5
RX 350              2010                 Lexus             4
Odyssey             2007                 Honda             4
Camry               2003                 Toyota            4
ES                  2009                 Lexus             4
M Class             2012                 Mercedes-Benz     4
RX                  2005                 Lexus             4
MDX                 2007                 Acura             4
GLK-Class           2012                 Mercedes-Benz     4
Highlander          2006                 Toyota            4
M Class             2013                 Mercedes-Benz     4
Focus               2012                 Ford              4
3                   2008                 Mazda             4
ES                  2004                 Lexus             4
Venza               2009                 Toyota            4
CLA-Class           2014                 Mercedes-Benz     4
RX 350              2015                 Lexus             4
Range Rover Sport   2011                 Land Rover        4
Edge                2008                 Ford              4
Santa Fe            2007                 Hyundai           4
Sienna              2011                 Toyota            4
Highlander          2015                 Toyota            3
Edge                2007                 Ford              3
IS                  2009                 Lexus             3
                    2007                 Lexus             3
CX-9                2008                 Mazda             3
LS                  2007                 Lexus             3
ES                  2003                 Lexus             3
Highlander          2010                 Toyota            3
Corolla             2003                 Toyota            3
E350                2010                 Mercedes-Benz     3
Highlander          2009                 Toyota            3
Edge                2011                 Ford              3
GLK-Class           2013                 Mercedes-Benz     3
Explorer            2012                 Ford              3
Corolla             2017                 Toyota            3
                    2015                 Toyota            3
                    2012                 Toyota            3
                    2004                 Toyota            3
Highlander          2005                 Toyota            3
Camry               2018                 Toyota            3
Highlander          2004                 Toyota            3
Edge                2012                 Ford              3
ES                  2008                 Lexus             3
Accord              2010                 Honda             3
Matrix              2010                 Toyota            3
RX 300              2000                 Lexus             3
RX                  2004                 Lexus             3
RX 350              2007                 Lexus             3
Sonata              2013                 Hyundai           3
RX 350              2014                 Lexus             3
TL                  2009                 Acura             3
Sienna              2004                 Toyota            3
Sedona              2008                 Kia               3
Pilot               2003                 Honda             3
Tiguan              2010                 Volkswagen        3
MDX                 2008                 Acura             3
Sonata              2012                 Hyundai           3
RX 350              2008                 Lexus             3
                    2009                 Lexus             3
C300                2010                 Mercedes-Benz     3
                    2011                 Mercedes-Benz     3
RX 350              2011                 Lexus             3
                    2012                 Lexus             3
                    2013                 Lexus             3
Accord              2013                 Honda             3
C300                2015                 Mercedes-Benz     3
MDX                 2009                 Acura             3
RX 350              2019                 Lexus             2
GLA 250             2015                 Mercedes-Benz     2
Range Rover Sport   2008                 Land Rover        2
Ridgeline           2006                 Honda             2
GLK-Class           2011                 Mercedes-Benz     2
Range Rover         2012                 Land Rover        2
M Class             2014                 Mercedes-Benz     2
Forte               2011                 Kia               2
Tucson              2016                 Hyundai           2
Yaris               2007                 Toyota            2
Vibe                2010                 Pontiac           2
                    2007                 Pontiac           2
                    2006                 Pontiac           2
                    2003                 Pontiac           2
Venza               2011                 Toyota            2
Edge                2010                 Ford              2
Focus               2016                 Ford              2
Tucson              2010                 Hyundai           2
Tacoma              2008                 Toyota            2
Edge                2013                 Ford              2
Elantra             2013                 Hyundai           2
Escape              2008                 Ford              2
                    2011                 Ford              2
FX35                2007                 Infiniti          2
GS                  2008                 Lexus             2
GLK-Class           2015                 Mercedes-Benz     2
GS                  2010                 Lexus             2
Journey             2015                 Dodge             2
JX                  2013                 Infiniti          2
IS                  2012                 Lexus             2
MDX                 2014                 Acura             2
IS                  2006                 Lexus             2
Highlander          2019                 Toyota            2
                    2016                 Toyota            2
                    2012                 Toyota            2
Maxima              2011                 Nissan            2
Odyssey             2006                 Honda             2
Pilot               2005                 Honda             2
                    2007                 Honda             2
                    2008                 Honda             2
Previa              1995                 Toyota            2
Quest               2006                 Nissan            2
RAV4                2007                 Toyota            2
                    2008                 Toyota            2
                    2010                 Toyota            2
                    2013                 Toyota            2
Highlander          2007                 Toyota            2
RX 300              2002                 Lexus             2
                    2003                 Lexus             2
Highlander          2003                 Toyota            2
                    2001                 Toyota            2
Grand Cherokee      2010                 Jeep              2
Golf                2016                 Volkswagen        2
                    2008                 Volkswagen        2
M Class             2006                 Mercedes-Benz     2
200                 2011                 Chrysler          2
C300                2016                 Mercedes-Benz     2
Berlingo            2009                 Citroen           2
Altima              2013                 Nissan            2
Camry               2006                 Toyota            2
                    2004                 Toyota            2
Corolla Altis       2005                 Toyota            2
Camry               2017                 Toyota            2
Crosstour           2012                 Honda             2
Astra               2005                 Opel              2
Corolla             2014                 Toyota            2
3 Series            2009                 BMW               2
C180                2002                 Mercedes-Benz     2
C300                2008                 Mercedes-Benz     2
A4                  2013                 Audi              2
CX-9                2010                 Mazda             2
307                 2008                 Peugeot           2
CX-9                2007                 Mazda             2
Avalon              2005                 Toyota            2
E350                2011                 Mercedes-Benz     2
6                   2006                 Mazda             2
CX-7                2007                 Mazda             2
Accord              2007                 Honda             2
Durango             2014                 Dodge             2
Avensis Verso       2002                 Toyota            2
Avalon              2006                 Toyota            2
E550                2011                 Mercedes-Benz     2
E-350               2008                 Ford              2
Discovery           2017                 Land Rover        2
E350                2012                 Mercedes-Benz     2
525i                2007                 BMW               2
Ranger              2008                 Ford              1
RX 400h             2006                 Lexus             1
A4                  2000                 Audi              1
Acadia              2007                 GMC               1
A6                  2005                 Audi              1
Range Rover Evoque  2013                 Land Rover        1
Rogue               2008                 Nissan            1
ES                  2010                 Lexus             1
Rogue               2011                 Nissan            1
                    2019                 Nissan            1
S-Class             2010                 Mercedes-Benz     1
                    2015                 Mercedes-Benz     1
Accord              2006                 Honda             1
SLK-Class           2005                 Mercedes-Benz     1
807                 2001                 Peugeot           1
Santa Fe            2010                 Hyundai           1
                    2020                 Hyundai           1
Sebring             2010                 Chrysler          1
7 Series            2011                 BMW               1
Sentra              2008                 Nissan            1
                    2014                 Nissan            1
S-Coupe             1995                 Hyundai           1
Almera              2006                 Nissan            1
Accord              2008                 Honda             1
                    2015                 Honda             1
Avensis             2004                 Toyota            1
Quest               2012                 Nissan            1
R-Class             2008                 Mercedes-Benz     1
RAV4                2005                 Toyota            1
Avenger             2012                 Dodge             1
RAV4                2009                 Toyota            1
                    2011                 Toyota            1
Avalon              2002                 Toyota            1
RAV4                2015                 Toyota            1
                    2016                 Toyota            1
                    2017                 Toyota            1
                    2018                 Toyota            1
RDX                 2007                 Acura             1
                    2008                 Acura             1
                    2010                 Acura             1
Avalanche           2008                 Chevrolet         1
RX                  2010                 Lexus             1
                    2013                 Lexus             1
Armada              2006                 Nissan            1
Altima              2010                 Nissan            1
RX 330              2005                 Lexus             1
Altima              2009                 Nissan            1
                    2008                 Nissan            1
Sharan              2001                 Volkswagen        1
Accord Crosstour    2013                 Honda             1
Accord              2019                 Honda             1
                    2016                 Honda             1
Sentra              2016                 Nissan            1
Sienna              2010                 Toyota            1
                    1999                 Toyota            1
                    2002                 Toyota            1
Tribute             2008                 Mazda             1
308                 2010                 Peugeot           1
Tucson              2013                 Hyundai           1
Tundra              2018                 Toyota            1
Veloster            2013                 Hyundai           1
307                 2006                 Peugeot           1
                    2005                 Peugeot           1
                    2004                 Peugeot           1
Venza               2012                 Toyota            1
                    2014                 Toyota            1
Veracruz            2008                 Hyundai           1
Versa               2007                 Nissan            1
3 Series            2006                 BMW               1
                    2005                 BMW               1
3                   2013                 Mazda             1
X-Trail             2009                 Nissan            1
X-Type              2002                 Jaguar            1
                    2003                 Jaguar            1
X3                  2008                 BMW               1
X6                  2011                 BMW               1
XC90                2005                 Volvo             1
XJ                  2013                 Jaguar            1
Yaris               2006                 Toyota            1
3                   2012                 Mazda             1
Yaris               2010                 Toyota            1
                    2012                 Toyota            1
Zafira              2001                 Opel              1
                    2002                 Opel              1
xB                  2006                 Scion             1
Tribeca             2011                 Subaru            1
Town&Country        2008                 Chrysler          1
Tiguan              2011                 Volkswagen        1
407                 2005                 Peugeot           1
6                   2003                 Mazda             1
535i                2014                 BMW               1
Sienna              2009                 Toyota            1
QX60                2015                 Infiniti          1
523i                2013                 BMW               1
5                   2012                 Mazda             1
Sienna              2013                 Toyota            1
                    2016                 Toyota            1
                    2019                 Toyota            1
Solara              2004                 Toyota            1
Solstice            2007                 Pontiac           1
Sonata              2008                 Hyundai           1
                    2009                 Hyundai           1
407                 2004                 Peugeot           1
323i                2005                 BMW               1
4-Runner            2003                 Toyota            1
Sonata              2016                 Hyundai           1
Sorento             2008                 Kia               1
                    2014                 Kia               1
Soul                2022                 Kia               1
Spacestar           1999                 Mitsubishi        1
Sportage            2007                 Kia               1
                    2012                 Kia               1
328i                2008                 BMW               1
TL                  2012                 Acura             1
328i                2005                 BMW               1
Tacoma              2013                 Toyota            1
Thesis              2007                 Lancia            1
QX80                2018                 Infiniti          1
Pilot               2006                 Honda             1
Primera             2005                 Nissan            1
Previa              2001                 Toyota            1
Corolla             2000                 Toyota            1
Cooper              2010                 Mini              1
Compass             2014                 Jeep              1
                    2007                 Jeep              1
Civic               2010                 Honda             1
GX                  2010                 Lexus             1
                    2016                 Lexus             1
Golf                2001                 Volkswagen        1
Civic               2008                 Honda             1
                    2003                 Honda             1
Charger             2016                 Dodge             1
HiAce               2007                 Toyota            1
                    2011                 Toyota            1
                    2013                 Toyota            1
Carens              2007                 Kia               1
Caravan             2011                 Dodge             1
                    2007                 Dodge             1
206                 2004                 Peugeot           1
Camry               2016                 Toyota            1
                    2002                 Toyota            1
Camaro              2014                 Chevrolet         1
Highlander          2013                 Toyota            1

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\368555249.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  foreign_used = condition_foreign_used[

**For Brand New Vehicles**

In [278]:
condition_brand_new = naija_cars[naija_cars['Condition'] == 'Brand New']

In [279]:
condition_brand_new[
    {
        'Make',
        'Model',
        'Year of manufacture',
        'Registered city'
    }
]

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\2645188340.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  condition_brand_new[

     Registered city    Model  Year of manufacture        Make
706     Not Provided  Corolla                 2012      Toyota
3053    Not Provided   Pajero                 2014  Mitsubishi

In [338]:
brand_new = condition_brand_new[
    {
        'Make',
        'Model',
        #'Year of manufacture'
    }
].value_counts()

print(brand_new)

Model    Make
Corolla  Toyota        1
Pajero   Mitsubishi    1
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_2040\844369652.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  brand_new = condition_brand_new[

## Extraction

#### Here, I will extract the different datasets into an excel file for Microsoft Power BI

**For Price Distribution of Different Car Makes**

In [286]:
fuel_type = Counter(naija_cars['Fuel Type'])

In [285]:
fuel_type_table = pd.DataFrame.from_dict(fuel_type, orient='index', columns=['Count'])

fuel_type_table("Fuel Type Table", sheet_name= 'Fuel Type Counts')

TypeError: 'DataFrame' object is not callable

In [283]:
with pd.ExcelWriter('Nigerian Cars Analysis.xlsx') as writer:
    max_for_price_variation.head(10).to_excel(writer, sheet_name='Most Expensive Cars')
    min_for_price_variation.head(10).to_excel(writer, sheet_name='Least Expensive Cars')
    foreign_used.tolist

PermissionError: [Errno 13] Permission denied: 'Nigerian Cars Analysis.xlsx'